@charset "UTF-8";
/**
 *		Approach	
 */
.approach .container {
  width: 1362px;
  padding-left: 94px;
}

.approach h2 {
  margin-bottom: -45px;
}

.approach__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.approach__text {
  position: relative;
  padding-top: 85px;
  padding-right: 100px;
  -webkit-flex-basis: 54%;
      -ms-flex-preferred-size: 54%;
          flex-basis: 54%;
  max-width: 54%;
}

.approach__text:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 265px;
  height: 100%;
  background-color: #fff;
}

.approach__text p {
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
}

.approach__text p.title {
  font-weight: 700;
  font-size: 20px;
}

.approach__img {
  -webkit-flex-basis: 46%;
      -ms-flex-preferred-size: 46%;
          flex-basis: 46%;
  max-width: 46%;
}

.approach__img img {
  width: 100%;
}

.approach__control {
  z-index: 5;
  position: relative;
  margin-top: -73px;
  margin-left: 5px;
}

.approach .arrow {
  display: inline-block;
  width: 33px;
  height: 14px;
  background-image: url("../img/svg/9.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.approach .arrow__next {
  background-image: url("../img/svg/9.svg");
  background-position: right;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.approach .arrow.slick-disabled {
  opacity: .5;
}

.approach .status {
  display: inline-block;
  margin: 0 23px;
  font-weight: 500;
  font-size: 38px;
  color: #8dad3e;
  vertical-align: middle;
}

.approach .status .all-pages {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: 300;
  font-size: 22px;
  color: #929194;
  vertical-align: top;
}

@media screen and (max-width: 1362px) {
  .approach .container {
    width: 1210px;
    padding: 0 20px;
  }
}

/**
 *		Сatalog
 */
.catalog {
  background-image: url(../img/icon/bg-big-logo.png);
  background-repeat: no-repeat;
  background-position: 100% 94px;
}

.catalog__wrapper {
  position: relative;
}

.catalog__box {
  border-right: 1px solid #f2f2f2;
}

.catalog__box .title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
}

.catalog__box:last-child {
  padding-left: 65px;
  border-right: 0;
}

.catalog__item {
  position: relative;
  margin-bottom: 14px;
}

.catalog__item a {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 28px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
}

.catalog__item a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 1px;
  display: inline-block;
  border-top: 4px solid transparent;
  border-left: 5px solid #f6b332;
  border-bottom: 4px solid transparent;
}

.catalog__item a:hover {
  color: #90b044;
  text-decoration: underline;
}

.catalog__item a:hover:before {
  border-top: 4px solid transparent;
  border-left: 5px solid #8dad3e;
  border-bottom: 4px solid transparent;
}

@media screen and (max-width: 1755px) {
  .catalog {
    background-position: 110% 94px;
  }
}

@media screen and (max-width: 1540px) {
  .catalog {
    background-position: 122% 94px;
  }
}

@media screen and (max-width: 1380px) {
  .catalog {
    background-position: 134% 94px;
  }
}

@media screen and (max-width: 1270px) {
  .catalog {
    background-position: 148% 94px;
  }
}

.gallery-custom__figure img.mfp-img {
  max-width: 1000px;
  min-width: 800px;
  padding: 0;
}

.gallery-custom__bottom-bar {
  top: auto;
  bottom: 0;
  margin: 0;
  padding: 31px 24px;
  height: 115px;
  background-color: #fff;
}

.gallery-custom__bottom-bar .mfp-title {
  display: inline-block;
  max-width: 360px;
  margin-bottom: 8px;
  font-family: 'Raleway', Times New Roman, serif;
  font-size: 16px;
  line-height: 1.4;
  color: #171717;
  vertical-align: middle;
}

.gallery-custom__logo {
  display: inline-block;
  width: 74px;
  height: 42px;
  margin-right: 20px;
  background-image: url("../img/svg/footer_logo.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.gallery-custom__button {
  float: right;
}

.gallery-custom__button .button {
  padding: 15px 50px 17px;
}

.gallery-custom__colse.mfp-close {
  position: absolute;
  top: 22px;
  right: -22px;
  display: inline-block;
  width: 40px !important;
  height: 40px !important;
  opacity: 1;
  background-color: #fff;
}

.gallery-custom__colse.mfp-close:after, .gallery-custom__colse.mfp-close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.gallery-custom__colse.mfp-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.gallery-custom__colse.mfp-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.mfp-wrap {
  min-width: 1200px;
}

.mfp-container {
  max-width: 1200px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
}

.mfp-container .mfp-arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 71px;
  height: 26px;
  margin: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url(../img/svg/10.svg);
  cursor: pointer;
}

.mfp-container .mfp-arrow.mfp-arrow-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mfp-container .mfp-arrow:after, .mfp-container .mfp-arrow:before {
  display: none;
}

.mfp-content {
  padding: 40px 0 60px;
}

/**
 *		Banner	
 */
.banner .container {
  position: relative;
}

.banner__list {
  white-space: nowrap;
}

.banner__item {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 38px 0 92px;
  height: 485px;
  background-size: cover;
  background-position: center;
  white-space: normal;
}

.banner__wrapper {
  position: relative;
}

.banner__list-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  margin-bottom: -55px;
}

.banner__item-button {
  position: relative;
  width: 20%;
  padding: 30px 0 28px;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s, border-color .3s;
}

.banner__item-button p {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
}

.banner__item-button:hover {
  background-color: #8dad3e;
  border-color: #8dad3e !important;
}

.banner__item-button:hover p {
  color: #fff;
}

.banner__item-button:last-child {
  border-right: 1px solid #d7d7d7;
}

.banner__item-button.is-active {
  background-color: #8dad3e;
  border-color: #8dad3e;
}

.banner__item-button.is-active:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 8px solid #8dad3e;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.banner__item-button.is-active p {
  color: #fff;
}

.banner__item-catalog {
  float: right;
  display: inline-block;
  max-width: 700px;
  vertical-align: top;
}

.banner__item-block-text {
  display: inline-block;
  max-width: 700px;
  padding-top: 80px;
  vertical-align: top;
}

.banner__item-block-text p {
  margin-bottom: 15px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 48px;
  line-height: 1;
}

.banner__item-block-text .red {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 48px;
  color: #bf4332;
  line-height: 1.1;
}

.banner__item-block-text .icon {
  display: inline-block;
}

.banner__item-block-text .icon--2 {
  width: 86px;
  height: 86px;
  background-image: url("../img/svg/16.svg");
  background-repeat: no-repeat;
}

.banner__item-block-text .icon--3 {
  width: 57px;
  height: 57px;
  background-image: url("../img/svg/17.svg");
  background-repeat: no-repeat;
}

.banner__item-block-text .icon--5 {
  width: 121px;
  height: 58px;
  background-image: url("../img/svg/6.svg");
  background-repeat: no-repeat;
}

.banner__item-man {
  position: absolute;
  top: -38px;
  right: 0;
  display: inline-block;
  width: 644px;
  height: 440px;
  padding-top: 118px;
  background-image: url("../img/banner-man.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner__item-man p {
  margin-bottom: 15px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 48px;
  line-height: 1;
}

.banner__item-man .red {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 48px;
  color: #bf4332;
  line-height: 1.1;
}

.banner__item-man .icon {
  display: inline-block;
  width: 115px;
  height: 115px;
  background-image: url("../img/svg/18.svg");
  background-repeat: no-repeat;
}

.item-catalog__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-catalog__item {
  width: 33.333%;
  padding: 25px 25px 37px;
  background: #fff;
  border-right: 1px solid #ebebeb;
}

.item-catalog__photo {
  height: 220px;
  text-align: center;
}

.item-catalog__photo img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.item-catalog__text p {
  font-size: 14px;
}

.item-catalog__text p.title {
  margin-bottom: 10px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
}

.item-catalog a {
  display: block;
}

/**
 *		Fonts	
 */
.benefits h2 {
  margin-bottom: 100px;
}

.benefits__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
}

.benefits__item {
  display: inline-block;
  width: 20%;
  padding: 8px 0 20px;
  text-align: center;
  border-right: 1px solid #ebebeb;
}

.benefits__item:last-child {
  border-right: 0;
}

.benefits__photo {
  margin-bottom: 25px;
}

.benefits__photo img {
  max-width: 100%;
}

.benefits__text {
  text-align: center;
}

.benefits__text p {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
}

/**
 *		Block	
 */
.block {
  padding: 100px 0 75px;
}

.block--bg-text {
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block--benefits {
  padding: 150px 0 125px;
}

.block--inform {
  padding: 70px 0 88px;
}

.block--inform {
  background-color: #b4b7b6;
  background-image: url("../img/bg-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block--scheme {
  padding: 85px 0 90px;
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block--approach {
  padding: 130px 0 145px;
  background-color: #fafafa;
}

.block--examples {
  padding: 100px 0 130px;
}

.block--reviews {
  padding: 100px 0 95px;
  background-color: #fafafa;
}

.block--catalog {
  padding: 94px 0 58px;
}

.block--price-block {
  padding: 100px 0 95px;
}

.block--nopadding {
  padding: 0 !important;
}

/**
 *		Header	
 */
.header {
  position: relative;
  padding-bottom: 66px;
}

.header-top-menu {
  border-bottom: 1px solid #ebebeb;
}

.header-top-menu__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0 12px;
}

.header-top-menu__list {
  margin-bottom: 5px;
}

.header-top-menu__item {
  display: inline-block;
  margin-right: 57px;
}

.header-top-menu__item a {
  font-size: 14px;
  color: #5f5f5f;
}

.header-top-menu__item a:hover {
  color: #90b044;
  border-bottom: 1px solid #90b044;
}

.header-top-menu__item:last-child {
  margin-right: 0;
}

.header-top-menu__year {
  margin-right: 5px;
}

.header-contacts {
  z-index: 101;
  position: relative;
  padding: 18px 0 30px;
  background-color: #fff;
  background-image: url("../img/bg-gr.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: top;
}

.header-contacts__logo {
  display: inline-block;
  width: 50%;
  padding-top: 3px;
}

.header-contacts__logo .logo {
  display: inline-block;
  padding-right: 22px;
  vertical-align: middle;
}

.header-contacts__logo .logo .icon {
  width: 180px;
  height: 35px;
  background-image: url("../img/svg/logo.svg");
  background-repeat: no-repeat;
}

.header-contacts__logo span {
  position: relative;
  display: inline-block;
  max-width: 210px;
  padding: 4px 0 10px 30px;
  font-size: 14px;
  font-weight: 500;
  color: #464849;
  line-height: 1.2;
  vertical-align: middle;
}

.header-contacts__logo span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 1px;
  height: 36px;
  background-color: #c1c1c2;
}

.header-contacts__phone {
  float: right;
  display: inline-block;
  width: 50%;
  text-align: right;
}

.header-contacts__phone .phone {
  display: inline-block;
  margin-right: 30px;
  font-weight: 500;
  font-size: 26px;
  color: #0c0c0c;
  vertical-align: middle;
}

.header-contacts__phone .button-selection {
  z-index: 10;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
}

.header-contacts__phone .button-selection__title {
  position: relative;
  padding: 13px 50px 11px 30px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 14px;
  color: #fff;
  background-color: #f6b332;
  border-radius: 20px;
  border-bottom: 1px solid #f6b332;
}

.header-contacts__phone .button-selection__title:hover {
  background-color: #ffba35;
  border-bottom: 1px solid #ffba35;
}

.header-contacts__phone .button-selection__title:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 26px;
  width: 0;
  height: 0;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.header-contacts__phone .button-selection__list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.header-contacts__phone .button-selection__item {
  position: relative;
  padding: 12px 10px 11px 50px;
  background-color: #d27c3c;
  border-top: 1px solid #b96a31;
  transition: background-color .3s;
  cursor: pointer;
}

.header-contacts__phone .button-selection__item .text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.header-contacts__phone .button-selection__item .icon {
  position: absolute;
  display: inline-block;
}

.header-contacts__phone .button-selection__item--logo-1 .icon {
  top: 11px;
  left: 16px;
}

.header-contacts__phone .button-selection__item--logo-2 .icon {
  top: 7px;
  left: 13px;
}

.header-contacts__phone .button-selection__item--logo-3 .icon {
  top: 9px;
  left: 14px;
}

.header-contacts__phone .button-selection__item--logo-4 .icon {
  top: 8px;
  left: 15px;
}

.header-contacts__phone .button-selection__item:hover {
  background-color: #f6b332;
}

.header-contacts__phone .button-selection__item:first-child {
  border: 0;
}

.header-contacts__phone .button-selection__item:last-child {
  border-radius: 0 0 20px 20px;
}

.header-contacts__phone .button-selection.is-open .button-selection__title {
  background-color: #d27c3c;
  border-radius: 20px 20px 0 0;
  border-color: #b96a31;
}

.header-contacts__phone .button-selection.is-open .button-selection__title:after {
  border-top: transparent;
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.header-contacts__phone .button-selection.is-open .button-selection__list {
  display: block;
}

.header-panel {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 12px;
  background-color: #8dad3e;
}

.header-panel.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
}

.header-panel__nav {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}

.header-panel__nav button {
  position: relative;
  padding: 10px 5px 10px 45px;
  cursor: pointer;
}

.header-panel__nav .text {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff;
}

.header-panel__nav .icon,
.header-panel__nav .icon:after,
.header-panel__nav .icon:before {
  position: absolute;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.header-panel__nav .icon {
  top: 50%;
  margin-top: -2px;
}

.header-panel__nav .icon:after,
.header-panel__nav .icon:before {
  content: '';
}

.header-panel__nav .icon:before {
  top: -7px;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.header-panel__nav .icon:after {
  bottom: -7px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.header-panel__nav:hover .text {
  border-bottom: 1px solid;
}

.header-panel__search {
  display: inline-block;
  vertical-align: middle;
}

.header-panel__search input {
  width: 358px;
  max-width: 365px;
  padding: 0 44px 0 17px !important;
  border: 0 !important;
}

.header-panel__icon {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

.header-panel__icon-list {
  padding: 11px 0;
}

.header-panel__icon-item {
  position: relative;
  display: inline-block;
  padding-left: 37px;
  margin-right: 70px;
}

.header-panel__icon-item:last-child {
  margin-right: 0;
}

.header-panel__icon-item .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.header-panel__icon-item .icon--gift {
  background-image: url("../img/svg/3-white.svg");
  background-repeat: no-repeat;
}

.header-panel__icon-item .icon--stock {
  width: 22px;
  height: 22px;
  background-image: url("../img/svg/5-white.svg");
  background-repeat: no-repeat;
}

.header-panel__icon-item .text {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 14px;
  color: #fff;
}

.header-panel__icon-item--promotions .icon {
  top: 0px;
  left: 3px;
}

.header-panel__icon-item--price .icon {
  top: 0px;
  left: -2px;
}

.header-panel__icon-item:hover .text {
  border-bottom: 1px solid;
}

.header-panel__drop-down {
  z-index: 8;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  box-shadow: 0px 9px 20px 0px rgba(50, 50, 50, 0.75);
}

.header-panel__drop-down.is-visible {
  display: block;
}

.header-panel__drop-down-item {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 58px 15px 78px 45px;
  margin: 0 -10px;
  color: #121212;
}

.header-panel__drop-down-item:first-child {
  width: 55%;
  padding-left: 0;
}

.header-panel__drop-down-item:last-child {
  border-left: 1px solid #ebebeb;
}

.header-panel__drop-down-item .title {
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

.header-panel__drop-down-item .drop-down__list {
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  margin: 0 -10px;
  vertical-align: top;
}

.header-panel__drop-down-item .drop-down__list--size-1 {
  width: 52%;
}

.header-panel__drop-down-item .drop-down__list--size-2 {
  width: 48%;
}

.header-panel__drop-down-item .drop-down__list--size-3 {
  width: 60%;
}

.header-panel__drop-down-item .drop-down__list--size-4 {
  width: 40%;
}

.header-panel__drop-down-item .drop-down__list--size-4 a {
  white-space: nowrap;
}

.header-panel__drop-down-item .drop-down__item {
  position: relative;
  padding: 0 10px 0 28px;
  margin-bottom: 20px;
}

.header-panel__drop-down-item .drop-down__item:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  display: inline-block;
  border-top: 4px solid transparent;
  border-left: 5px solid #8cad3e;
  border-bottom: 4px solid transparent;
}

.header-panel__drop-down-item .drop-down__item a {
  display: inline;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 14px;
}

.header-panel__drop-down-item .drop-down__item a:hover {
  color: #90b044;
  border-bottom: 1px solid #90b044;
}

/**
 *		Examples	
 */
.examples h2 {
  margin-bottom: 70px;
}

.examples .slick-list {
  overflow: inherit;
}

.examples__wrapper {
  position: relative;
}

.examples__item {
  position: relative;
}

.examples__item img {
  width: 830px;
  margin: 0 85px;
}

.examples__item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 85px;
  margin: 0;
  width: calc(100% - 170px);
  height: 130px;
  background-image: url("../img/bg-gr-black.png");
  background-repeat: repeat-x;
}

.examples__text {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 115px;
}

.examples__text p {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 18px;
  color: #fff;
}

.examples__control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.examples .arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 71px;
  height: 26px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-image: url("../img/svg/10.svg");
  cursor: pointer;
}

.examples .arrow__prev {
  left: 50px;
}

.examples .arrow__next {
  right: 50px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 *		Examples block	
 */
.examples-block {
  display: block;
  margin-top: 39px;
  margin-bottom: 50px;
}

.examples-block__item {
  margin-bottom: 43px;
}

.examples-block__photo {
  position: relative;
  display: block;
  margin-bottom: 27px;
}

.examples-block__photo img {
  display: block;
  width: 100%;
}

.examples-block__photo .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 75px;
  height: 75px;
  opacity: 0;
  transition: opacity .4s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.examples-block__photo .icon:after, .examples-block__photo .icon:before {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
}

.examples-block__photo .icon:after {
  top: 0;
  left: 32px;
  width: 5px;
  height: 73px;
}

.examples-block__photo .icon:before {
  top: 34px;
  left: 0;
  width: 70px;
  height: 5px;
}

.examples-block__photo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 173, 62, 0.65);
  opacity: 0;
  transition: opacity .4s;
}

.examples-block__photo:hover .icon {
  opacity: 1;
}

.examples-block__photo:hover:before {
  opacity: 1;
}

.examples-block__text p {
  position: relative;
  padding-left: 45px;
}

.examples-block__text p:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -1px;
  width: 25px;
  height: 1px;
  background-color: #f6b332;
}

/**
 *		Footer	
 */
.footer {
  padding: 45px 0 60px;
  background-color: #2c2c2c;
  height: 207px;
}

.footer__info-wrapper {
  margin-right: 10px;
  border-right: 1px solid #414141;
}

.footer__info-logo {
  margin-bottom: 30px;
}

.footer__info-logo .logo {
  display: inline-block;
  width: 74px;
  height: 42px;
  margin-right: 20px;
  background-image: url("../img/svg/footer_logo.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.footer__info-logo span {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  vertical-align: middle;
}

.footer__info-logo a {
  color: #fff;
}

.footer__copy {
  margin-bottom: 5px;
  font-size: 14px;
  color: #a2a2a2;
}

.footer__social .title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer__social-item {
  display: inline-block;
  margin: 0 6px;
}

.footer__social-item:first-child {
  margin-left: 0;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__payment {
  margin-left: 15px;
}

.footer__payment .title {
  max-width: 340px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}

.footer__payment-item {
  display: inline-block;
  margin: 0 6px;
}

.footer__payment-item:first-child {
  margin-left: 0;
}

.footer__payment-item:last-child {
  margin-right: 0;
}

/**
 *		Form	
 */
.form--embedded {
  display: inline-block;
  padding: 35px 45px 45px;
  margin-right: 50px;
  background-color: #fff;
  vertical-align: top;
}

.form .title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.form__group {
  position: relative;
  margin-bottom: 15px;
  width: 325px;
}

.form__group--lable {
  position: relative;
  padding-left: 97px;
  margin-bottom: 20px;
}

.form__group--lable label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-weight: 700;
  font-size: 16px;
}

.form__group--table-button {
  width: 100%;
  margin-top: 40px;
}

.form__group--table-button .button {
  padding: 13px 44px 14px;
}

.form__group--noindent {
  width: 100%;
  margin-bottom: 0;
}

.form__group--button {
  margin-top: 35px;
  margin-bottom: 0;
}

.form__group--button .button {
  padding: 13px 17px 13px;
  font-size: 14px;
}

.form__group--button .acton {
  float: right;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #ec1812;
}

.form__group--button .acton:hover {
  color: #fe312b;
}

.form__group input {
  height: 40px;
  margin: 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 17px;
  border: 1px solid #d7d7d7;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  -webkit-appearance: none;
}

.form__group input:hover {
  border-color: #8dad3e;
}

.form__group input::-webkit-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  line-height: 16px;
}

.form__group input::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
}

.form__group input:-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  line-height: 16px;
}

.form__group input:-ms-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  line-height: 16px;
}

.form__group input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__group input:focus::-moz-placeholder {
  color: transparent;
}

.form__group input:focus:-moz-placeholder {
  color: transparent;
}

.form__group input:focus:-ms-input-placeholder {
  color: transparent;
}

.form__group .input-button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 44px;
  height: 38px;
  margin: 0;
  padding: 0;
  background-image: url("../img/svg/4-black.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.form__group select {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 44px 0 17px;
  background-color: #fff;
  border-radius: 3px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  border: 1px solid #d7d7d7;
}

.form__group .select2-container,
.form__group .select2-container .select2-selection--single {
  height: 40px;
}

.form__group .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 40px;
  height: 40px;
}

.form__group .select2-container--default .select2-selection--single {
  border: 0;
}

.form__group .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 44px 0 17px;
  background-color: #fff;
  border-radius: 3px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
  border: 1px solid #d7d7d7;
  line-height: 40px;
}

.form__group .select2-container--default .select2-selection--single .select2-selection__rendered:hover {
  border-color: #8dad3e;
}

.form__group .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #121212 transparent transparent transparent;
}

.form__group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #121212 transparent;
}

.form__group .select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
}

.select2-results__option {
  font-size: 14px;
}

.select2-dropdown {
  border: 1px solid #d7d7d7;
}

.select2-results__option {
  padding: 5px 17px 7px 17px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849;
}

/**
 *		Inform
 */
.inform__box {
  background: #fff;
  border: 1px solid #f2f2f2;
}

.inform__box .title {
  padding: 34px 50px 30px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #f2f2f2;
}

.inform__box .title--green {
  color: #8cad3e;
}

.inform__list {
  padding: 35px 50px 45px;
}

.inform__price {
  position: relative;
  padding: 0 50px;
}

.inform__price .button {
  position: absolute;
  top: 23px;
  right: 48px;
}

.inform__item {
  position: relative;
  margin-bottom: 30px;
}

.inform__item span {
  display: inline-block;
  vertical-align: middle;
}

.inform__item .text {
  width: 250px;
  padding-left: 50px;
}

.inform__item .icon {
  position: absolute;
  top: 0;
  left: 15px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.inform__item .price {
  font-family: 'Roboto', Times New Roman, serif;
  font-weight: 500;
}

.inform__item--strikethrough span {
  color: #d0d0d0;
}

.inform__item--strikethrough .text,
.inform__item--strikethrough .price {
  text-decoration: line-through;
}

.inform__item:last-child {
  margin-bottom: 0;
}

.inform__price {
  padding: 31px 50px 41px;
  border-top: 1px solid #f2f2f2;
}

.inform__price p {
  font-size: 18px;
  font-weight: 700;
}

.inform__price p span {
  margin-left: 10px;
  font-family: 'Roboto', Times New Roman, serif;
  font-size: 18px;
  font-weight: 500;
}

.inform__price--green p,
.inform__price--green span {
  color: #8dad3e;
}

/**
 *		Price block	
 */
.price-block__photo {
  padding: 24px 0;
  margin-bottom: 22px;
  text-align: center;
  border: 1px solid #f2f2f2;
}

.price-block__photo img {
  display: inline-block;
  width: 100%;
  max-width: 215px;
}

.price-block__info p {
  margin-bottom: 11px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
}

.price-block__info p.price {
  margin-bottom: 0;
  font-family: 'Roboto', Times New Roman, serif;
  font-weight: 500;
  font-size: 22px;
}

.price-block__info p.price sub, .price-block__info p.price sup {
  top: -0.6em;
  font-size: 60%;
}

/**
 *		Reviews	
 */
.reviews h2 {
  position: relative;
  padding-bottom: 32px;
  margin: 0 0 56px;
}

.reviews h2:before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 370px;
  height: 1px;
  background-color: #d7d7d8;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.reviews h2:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 90px;
  height: 60px;
  padding: 20px 30px;
  background-color: #fafafa;
  background-image: url("../img/icon/reviews-dots.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.reviews__list-text {
  margin-bottom: 25px;
}

.reviews__item-text {
  text-align: center;
}

.reviews__item-text p {
  margin-bottom: 15px;
}

.reviews__item-icon {
  width: 235px;
  padding-top: 25px;
  text-align: center;
  cursor: pointer;
}

.reviews__item-icon .wrapper {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-bottom: 66px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: translateZ(0) scale(0.74, 0.74);
  -ms-transform: translateZ(0) scale(0.74, 0.74);
  transform: translateZ(0) scale(0.74, 0.74);
}

.reviews__item-icon .wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100px;
  max-height: 70px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.reviews__item-icon.slick-current .wrapper {
  -webkit-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.reviews__item-icon.slick-current .reviews__item-name {
  display: block;
}

.reviews__item-icon.slick-current .reviews__progress-bar {
  background-color: #8dad3e;
}

.reviews__progress-bar {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 100%;
  height: 3px;
  margin-bottom: 45px;
  background-color: #e8e9ed;
}

.reviews__item-name {
  display: none;
}

.reviews__item-name p {
  font-weight: 500;
  font-size: 14px;
  color: #a1a1a1;
}

.reviews__item-name p.title {
  margin-bottom: 7px;
  color: #121212;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 18px;
}

.reviews .slick-list {
  overflow: hidden;
}

/**
 *		Scheme	
 */
.scheme__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 75px;
  margin: 75px 0 57px;
}

.scheme__item {
  position: relative;
  display: inline-block;
  width: 14.28%;
  text-align: center;
}

.scheme__item:last-child:before {
  display: none;
}

.scheme__item:before {
  content: '';
  position: absolute;
  top: 29px;
  right: -13px;
  display: inline-block;
  width: 33px;
  height: 14px;
  background-image: url("../img/icon/arrow.png");
  background-repeat: no-repeat;
}

.scheme__icon {
  margin-bottom: 21px;
}

.scheme__icon .icon-wrapper {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}

.scheme__icon .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scheme__icon .icon--1 {
  width: 41px;
  height: 41px;
  background-image: url("../img/icon/scheme-3.png");
  background-repeat: no-repeat;
}

.scheme__icon .icon--2 {
  width: 42px;
  height: 42px;
  background-image: url("../img/icon/scheme-1.png");
  background-repeat: no-repeat;
}

.scheme__icon .icon--3 {
  width: 36px;
  height: 46px;
  background-image: url("../img/svg/11.svg");
  background-repeat: no-repeat;
}

.scheme__icon .icon--4 {
  width: 42px;
  height: 37px;
  background-image: url("../img/svg/12.svg");
  background-repeat: no-repeat;
}

.scheme__icon .icon--5 {
  width: 38px;
  height: 38px;
  background-image: url("../img/svg/13.svg");
  background-repeat: no-repeat;
}

.scheme__icon .icon--6 {
  width: 41px;
  height: 41px;
  background-image: url("../img/svg/14.svg");
  background-repeat: no-repeat;
}

.scheme__icon .icon--7 {
  width: 31px;
  height: 39px;
  background-image: url("../img/svg/15.svg");
  background-repeat: no-repeat;
}

.scheme__text p {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff;
}

.scheme .button {
  padding: 16px 47px 16px;
}

/**
 *		Fonts	
 */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayLight.eot");
  src: url("../fonts/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/RalewayBlack.eot");
  src: url("../fonts/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 100%;
  font-family: 'Raleway', Times New Roman, serif;
  font-style: normal;
}

body {
  position: relative;
  min-width: 1210px;
  color: #121212;
  background-color: #fff;
  height: 100%;
}

body.menu-open {
  overflow: hidden;
}

.hFooter {
  clear: both;
  height: 207px;
}

.wrapper {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

h2 {
  margin: 0 0 60px;
  font-size: 32px;
  text-align: center;
}

h2.white {
  color: #fff;
}

h2.align-left {
  text-align: left;
}

h3 {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 24px;
}

p,
a,
span,
li {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  color: #121212;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  display: inline-block;
  width: 100%;
  height: 40px;
  max-width: 360px;
  padding: 10px 13px;
  margin-right: 7px;
  color: #231f20;
  font-family: 'Raleway', Times New Roman, serif;
  font-size: 16px;
  background-color: inherit;
  border-radius: 0;
  border: 1px solid #231f20;
  vertical-align: top;
}

input::-webkit-input-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif;
}

input::-moz-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif;
}

input:-moz-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif;
}

input:-ms-input-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif;
}

button,
a {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

button.button,
a.button {
  padding: 13px 30px 15px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff;
  background-color: #f6b332;
  border-radius: 30px;
  cursor: pointer;
}

button.button:hover,
a.button:hover {
  background-color: #ffba35;
}

.button-wrapper--center {
  text-align: center;
}

.text p {
  font-size: 16px;
  margin-bottom: 22px;
}

/**
 *		Services	
 */
.services {
  margin-top: 37px;
  margin-bottom: 110px;
  border: 1px solid #f2f2f2;
}

.services__item:first-child {
  padding-right: 0;
  border-right: 1px solid #f2f2f2;
}

.services__item:last-child {
  padding-left: 0;
}

.services__wrapper--bg {
  background-color: #fafafa;
}

.services__box {
  padding: 35px 53px;
  border-bottom: 1px solid #f2f2f2;
}

.services__box--second {
  height: 230px;
}

.services__box:last-child {
  border-bottom: 0;
}

.services__box.services__title {
  padding: 31px 50px 35px;
  font-weight: 700;
  font-size: 24px;
}

.services__box.services__title--green {
  color: #8dad3e;
}

.services__box.services__table {
  padding: 29px 27px 30px 30px;
}

.services__box.services__form {
  padding: 33px 48px;
}

.services__info p {
  margin-bottom: 22px;
  font-size: 16px;
}

.services__info p.title {
  margin-bottom: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.services__info .button {
  padding: 12px 41px 14px;
}

.services__table table {
  width: 100%;
  border-collapse: collapse;
}

.services__table table td {
  padding: 10px 0 11px 23px;
  font-size: 16px;
}

.services__table table td.title {
  width: 275px;
}

.services__table table td.green {
  color: #8dad3e;
}

.services__table thead td {
  font-weight: 500;
  font-size: 14px;
  color: #9d9d9d;
}

.services__table tbody tr {
  background-color: #fafafa;
}

.services__table tbody tr:nth-child(2n) {
  background-color: #fff;
}

.services__table tbody td.strikeout {
  text-decoration: line-through;
}

.services__form .form {
  width: 100%;
}

.services__form .form__group {
  width: 397px;
}

.services__form .form__group--table-button {
  width: 100%;
}

.services .text-form {
  float: right;
  display: inline-block;
  margin-top: 13px;
  margin-right: 21px;
}

.services .text-form p {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: #464849;
}

.services .text-form p.correct:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -30px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/correct.png");
}

/**
 *		Pages	
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.breadcrambs-list {
  padding: 10px 0 0;
}

.breadcrambs-list__item {
  display: inline-block;
  font-size: 12px;
  color: #121212;
  text-shadow: 0 0 #121212;
  position: relative;
}

.breadcrambs-list__item:before {
  content: ">";
  position: absolute;
  left: 0;
}

.breadcrambs-list__item:first-child:before {
  content: none;
}

.breadcrambs-list__item + .breadcrambs-list__item {
  padding-left: 16px;
  margin-left: 4px;
}

.breadcrambs-list__link {
  font-size: 12px;
  color: #8a8a8a;
  text-shadow: 0 0 #8a8a8a;
}

.breadcrambs-list__link:hover {
  text-decoration: underline;
}

.page-title {
  margin: 0 0 33px;
  padding: 0 0 7px;
  border-bottom: 1px solid #ebebeb;
}

.page-title--postInfo {
  margin: 0 0 23px;
  padding: 0 0 28px;
}

.page-title--postInfo .post-info {
  padding-top: 0;
}

.content {
  padding: 0 0 107px;
}

.content--promotionsBox {
  padding-bottom: 126px;
}

.content-bottom {
  padding: 35px 0 0;
}

.content-bottom__link {
  color: #8dad3e;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}

.content-bottom__link:hover {
  text-decoration: underline;
}

.content-row + .content-row {
  margin: 29px 0 0;
}

.content-row--withBorder {
  border: 1px solid #ebebeb;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
          align-content: stretch;
}

.content-row--reviewBox + .content-row--reviewBox {
  margin-top: 41px;
}

.content-row__description {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 33px;
}

.content-row__description--promotions {
  margin-left: -350px;
  padding-left: 397px;
  float: left;
}

.content-row__description--posts {
  padding-left: 46px;
  padding-right: 86px;
  padding-bottom: 34px;
}

.content-row__description--review {
  float: left;
  margin-left: -230px;
  padding-left: 280px;
  padding-top: 45px;
  padding-right: 110px;
}

.content-row__image-box {
  position: relative;
  float: left;
}

.content-row__image-box--promotions {
  width: 320px;
  min-height: 268px;
  border-right: 1px solid #ededed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content-row__image-box--review {
  width: 229px;
  border-right: 1px solid #ededed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-row__image-item {
  max-width: 100%;
  max-height: 100%;
}

.content-row__image-item--promotions {
  width: 100%;
  height: 100%;
}

.content-row__title {
  font-size: 18px;
  font-weight: 700;
  margin: 25px 0 17px;
}

.content-row__text {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.content-row__text--promotions {
  min-height: 80px;
  margin-bottom: 0;
}

.content-row__text--review {
  min-height: 86px;
  margin-bottom: 9px;
}

.content-row__botton {
  padding: 35px 0 0;
}

.content-row__botton--topLine {
  position: relative;
}

.content-row__botton--topLine:before {
  content: "";
  width: 83px;
  height: 2px;
  background-color: #f6b332;
  position: absolute;
  left: 0;
  top: 14px;
}

.content-row__botton--logoIcon:after {
  content: "";
  width: 80px;
  height: 43px;
  background: url(../img/icon/logo-grey.png) no-repeat;
  position: absolute;
  left: 100%;
  top: 22px;
  margin-left: -18px;
}

.content-row__botton--quoteIcon:after {
  content: "";
  background: url(../img/svg/quote-icon.svg) no-repeat center center #8dad3e;
  position: absolute;
  left: 100%;
  top: 33px;
  margin-left: 5px;
  width: 59px;
  height: 59px;
  border-radius: 30px;
}

.content-row__link {
  color: #8dad3e;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 2px;
  transition: all 0.2s linear;
}

.content-row__link:hover {
  text-decoration: underline;
}

.customer-box {
  padding: 6px 0 10px;
}

.customer-box__post {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.customer-box__name {
  font-size: 14px;
  font-weight: 700;
  padding: 2px 0 0;
}

.time-box {
  font-weight: 500;
  font-size: 14px;
  margin: 24px 0 0;
  display: block;
  line-height: 1;
}

.time-box--clockIcon {
  position: relative;
  padding-left: 48px;
}

.time-box--clockIcon .icon {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/svg/clock-icon.svg) no-repeat;
  top: 0;
  left: 0;
  margin-top: -5px;
}

.post-info {
  padding-top: 20px;
}

.post-info__date {
  font-size: 14px;
  position: relative;
  padding-left: 31px;
}

.post-info__date .icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/svg/calendar-icon.svg) no-repeat;
  left: 0;
  top: 0;
}

.post-info__views {
  font-size: 14px;
  position: relative;
  padding-left: 25px;
  margin-left: 34px;
}

.post-info__views .icon {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 11px;
  background: url(../img/svg/eye-icon.svg) no-repeat;
  left: 0;
  top: 0;
  margin-top: 4px;
}

.post-content {
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 18px;
}

.post-content__image-box {
  float: left;
  position: relative;
  margin: 2px 33px 5px 2px;
}

.post-content__text {
  padding: 0 0 20px;
}

.post-content-list {
  padding: 9px 0 34px;
  overflow: hidden;
}

.post-content-list__item {
  position: relative;
  text-indent: 0px;
  padding: 0px 0 7px 19px;
}

.post-content-list__item:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 10px;
  display: block;
  background-color: #121212;
  width: 3.3px;
  height: 3.3px;
  border-radius: 2px;
}

/**
 *		Support
 */
.header-top-menu__item span {
  font-size: 14px;
  color: #5f5f5f;
}

.header-top-menu__item .active {
  color: #8dad3e;
  font-weight: 700;
}

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.row .col-lg-12 {
  -ms-flex-preferred-size: 100%;
}

.row .col-lg-6 {
  -ms-flex-preferred-size: 50%;
}

.row .col-lg-4 {
  -ms-flex-preferred-size: 33.3333%;
}

.row .col-lg-8 {
  -ms-flex-preferred-size: 66.66666667%;
}

.row .col-lg-3 {
  -ms-flex-preferred-size: 25%;
}

.block--support .page-title {
  margin: 0 0 22px;
  border-bottom-color: transparent;
}

.block--support .contacts-data__list {
  min-height: 0;
  border-bottom: 0;
  padding-left: 35px;
}

.support__content {
  margin: 28px 0 99px 0;
  border: 1px solid #ebebeb;
}

.support__content .row {
  margin: 0;
}

.support-work-time {
  padding: 51px 52px 48px 48px;
  border-bottom: 1px solid #ebebeb;
  margin: 0px -15px 13px -15px;
}

.support-work-time__title {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 16px;
}

.support-work-time__text {
  margin-bottom: 23px;
  line-height: 1.3;
}

.support-work-time__text .text-style {
  font-weight: 700;
}

.support-work-time__img {
  float: right;
  margin-top: -10px;
}

.support-work-time .button {
  padding: 13px 41px 15px;
}

.support-form {
  background: #fafafa url(../img/support-form_bg.png) right top no-repeat;
  padding-top: 37px;
  padding-bottom: 45px;
  border-left: 1px solid #ebebeb;
}

.support-form .form {
  padding: 46px 37px 0px 30px;
}

.support-form__title {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
  margin: 0 -15px;
  padding: 0 30px 36px 45px;
}

.support-form .support-form__label {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  min-width: 97px;
}

.support-form .form__group {
  width: 100%;
}

.support-form .form__group input {
  max-width: 300px;
  background: #fff;
  padding: 0 10px;
  font-size: 16px;
}

.support-form .form__group input::-webkit-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group input::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group input::-ms-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group input::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group input:focus::-webkit-input-placeholder {
  color: transparent;
}

.support-form .form__group input:focus::-moz-placeholder {
  color: transparent;
}

.support-form .form__group input:focus:-moz-placeholder {
  color: transparent;
}

.support-form .form__group input:focus:-ms-input-placeholder {
  color: transparent;
}

.support-form .form__group textarea {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  margin: 0;
  border-radius: 3px;
  padding: 12px 13px;
  border: 1px solid #d7d7d7;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #464849;
  -webkit-appearance: none;
  height: 90px;
  resize: none;
}

.support-form .form__group textarea::-webkit-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group textarea::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group textarea::-ms-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group textarea::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.support-form .form__group textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.support-form .form__group textarea:focus::-moz-placeholder {
  color: transparent;
}

.support-form .form__group textarea:focus::-moz-placeholder {
  color: transparent;
}

.support-form .form__group textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.support-form .form__group textarea::hover {
  border-color: #8dad3e;
}

.support-form .form-group__input_half-width {
  display: inline-block;
  vertical-align: middle;
  width: 397px;
  margin-left: -104px;
  padding-left: 100px;
}

.support-form .form__group_textarea {
  margin: 25px 0 29px 0;
  padding: 0 4px 0 3px;
}

.support-form input.valid {
  border-color: #8dad3e;
}

.support-form input.invalid {
  border-color: red;
}

.support-form .button {
  padding: 13px 44px 13px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff;
  background-color: #f6b332;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  max-width: 171px;
  height: auto;
}

.support-form .button:hover {
  background-color: #ffba35;
}

.support-form__massage {
  float: right;
  padding-left: 30px;
  position: relative;
  margin: 14px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  opacity: 0;
  transition: 0.2s;
}

.support-form__massage.show {
  opacity: 1;
}

.support-form__massage:before {
  content: '';
  width: 16px;
  height: 16px;
  background: #8dad3e;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.support-form__massage:after {
  content: '';
  width: 9px;
  height: 5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

/**
 *		contacts
 */
.file-input {
  cursor: pointer;
  overflow: hidden;
  padding: 2px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.file-input__button {
  border-radius: 2px;
  float: left;
  font-size: 16px;
  height: 20px;
  padding: 0 20px 0 0px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.file-input span {
  color: #8dad3e;
  font-family: 'Raleway', Times New Roman, serif;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}

.file-input .icon-upload {
  width: 18px;
  height: 19px;
  background: url(../img/svg/upload.svg) no-repeat left top;
  margin-right: 10px;
  cursor: pointer;
}

.file-input #upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.file-input #input-file__label {
  float: left;
  padding: 2px;
  text-align: left;
  vertical-align: middle;
}

.block--contacts .page-title {
  margin: 0px;
  border: 0;
}

.block--contacts .holder-map-office {
  position: relative;
}

.block--contacts .map-office__info {
  position: absolute;
  top: 57px;
  z-index: 5;
}

.block--contacts .map-office {
  width: 100%;
  height: 350px;
}

.block--contacts .map-office__info {
  max-width: 530px;
  padding: 40px 110px 49px 48px;
  background: #fff url(../img/svg/footer_logo.svg) no-repeat;
  background-position: 94% 33px;
  background-size: 72px;
}

.block--contacts .map-office__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 13px;
}

.block--contacts .map-office__address {
  margin-bottom: 32px;
  font-size: 18px;
}

.block--contacts .map-office__contacts {
  position: relative;
  padding-left: 25px;
}

.block--contacts .map-office__contacts .text-style {
  font-weight: 700;
}

.block--contacts .map-office__contacts:before {
  content: '';
  width: 4px;
  background: #f6b332;
  position: absolute;
  top: 3px;
  bottom: 6px;
  left: 2px;
}

.contacts__content {
  margin: 51px 0 49px 0;
  border: 1px solid #ebebeb;
}

.contacts__content .row {
  margin: 0;
}

.contacts__sub-title {
  padding: 35px 52px 36px 48px;
  border-bottom: 1px solid #ebebeb;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 16px;
}

.contacts-data {
  padding: 0;
  border-right: 1px solid #ebebeb;
}

.contacts-data__list {
  padding: 17px 47px 15px 49px;
  border-bottom: 1px solid #ebebeb;
  min-height: 365px;
}

.contacts-data__list p {
  font-weight: 500;
  font-family: 'Raleway', Times New Roman, serif;
  margin-bottom: 36px;
}

.contacts-data__item {
  margin-bottom: 25px;
}

.contacts-data__item span, .contacts-data__item a {
  display: inline-block;
  vertical-align: middle;
}

.contacts-data__icon {
  min-width: 40px;
}

.contacts-data__icon_phone {
  height: 24px;
  background: url(../img/svg/call-out.svg) no-repeat left top;
}

.contacts-data__icon_phone-boss {
  height: 23px;
  margin-left: 4px;
  background: url(../img/svg/phone.svg) no-repeat left top;
}

.contacts-data__icon_skype {
  height: 24px;
  background: url(../img/svg/skype.svg) no-repeat left top;
}

.contacts-data__icon_mail {
  height: 17px;
  background: url(../img/svg/mail.svg) no-repeat left top;
}

.contacts-data__icon_time {
  height: 24px;
  background: url(../img/svg/clock-icon.svg) no-repeat left top;
}

.contacts-data__icon_pointer {
  height: 24px;
  background: url(../img/svg/pointer.svg) no-repeat left top;
}

.contacts-data__name {
  min-width: 145px;
  font-weight: 700;
}

.contacts-data__info_mail {
  color: #6f8537;
}

.contacts-data__button {
  padding: 29px 0 10px 40px;
  min-height: 107px;
}

.contacts-data__button .button {
  padding: 12px 43px 14px 40px;
}

.contacts-form {
  background: #fafafa;
  padding: 0;
}

.contacts-form__title {
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
  padding: 0 30px 36px 45px;
}

.contacts-form .contacts-form__label {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  min-width: 97px;
}

.contacts-form .form__group {
  width: 100%;
}

.contacts-form .form__group-list {
  border-bottom: 1px solid #ebebeb;
  min-height: 365px;
  padding: 29px 37px 0px 44px;
}

.contacts-form .form__group input {
  max-width: 300px;
  background: #fff;
  padding: 0 10px;
  font-size: 16px;
}

.contacts-form .form__group input::-webkit-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group input::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group input::-ms-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group input::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts-form .form__group input:focus::-moz-placeholder {
  color: transparent;
}

.contacts-form .form__group input:focus:-moz-placeholder {
  color: transparent;
}

.contacts-form .form__group input:focus:-ms-input-placeholder {
  color: transparent;
}

.contacts-form .form__group textarea {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  margin: 0;
  border-radius: 3px;
  padding: 12px 13px;
  border: 1px solid #d7d7d7;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #464849;
  -webkit-appearance: none;
  height: 90px;
  resize: none;
}

.contacts-form .form__group textarea::-webkit-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group textarea::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group textarea::-ms-input-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group textarea::-moz-placeholder {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  font-weight: 500;
  color: #464849;
}

.contacts-form .form__group textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts-form .form__group textarea:focus::-moz-placeholder {
  color: transparent;
}

.contacts-form .form__group textarea:focus::-moz-placeholder {
  color: transparent;
}

.contacts-form .form__group textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contacts-form .form__group textarea::hover {
  border-color: #8dad3e;
}

.contacts-form .form__group_phone {
  margin-bottom: 21px;
}

.contacts-form .form-group__input_half-width {
  display: inline-block;
  vertical-align: middle;
  width: 397px;
  margin-left: -104px;
  padding-left: 100px;
}

.contacts-form .form__group_phone {
  margin-bottom: 21px;
}

.contacts-form .form__group_textarea {
  margin: 25px 0 13px 0;
  padding: 0 4px 0 3px;
}

.contacts-form .form__group-button {
  padding: 28px 54px 10px 48px;
  min-height: 107px;
}

.contacts-form .form__group-button .button {
  padding: 13px 44px 13px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff;
  background-color: #f6b332;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  max-width: 171px;
  height: auto;
}

.contacts-form .form__group-button .button:hover {
  background-color: #ffba35;
}

.contacts-form input.valid {
  border-color: #8dad3e;
}

.contacts-form input.invalid {
  border-color: red;
}

.contacts-form__massage {
  float: right;
  padding-left: 30px;
  position: relative;
  margin: 14px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.1px;
  opacity: 0;
  transition: 0.2s;
}

.contacts-form__massage.show {
  opacity: 1;
}

.contacts-form__massage:before {
  content: '';
  width: 16px;
  height: 16px;
  background: #8dad3e;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.contacts-form__massage:after {
  content: '';
  width: 9px;
  height: 5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.contacts__production {
  border: 1px solid #ebebeb;
  margin-bottom: 100px;
}

.contacts__production .row {
  margin: 0;
}

.contacts__production .contacts-data__list {
  min-height: auto;
  padding: 46px 47px 15px 49px;
  border: 0;
}

.contacts__production .map-production {
  height: 297px;
}

/**
 *		guarantee
 */
.block--guarantee {
  padding-bottom: 103px;
}

.block--guarantee .page-title {
  margin: 0 0 30px;
}

.guarantee__content {
  margin: 30px 0 0 0;
}

.guarantee__content .row {
  margin-right: 0;
}

.guarantee__description {
  background: url(../img/area-dots.png) 96% bottom no-repeat;
}

.guarantee__text {
  margin-bottom: 64px;
  padding: 0 10px 0 0;
}

.guarantee__text p {
  margin-bottom: 22px;
}

.guarantee-director {
  background: url(../img/svg/quote.svg) no-repeat left 5px;
  padding: 0 30px 0 120px;
}

.guarantee-director__icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.guarantee-director__content {
  width: 100%;
  display: inline-block;
}

.guarantee-director__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 11px;
}

.guarantee__image {
  margin-top: 63px;
  padding: 0 0 65px 0;
  background: #fafafa;
}

.guarantee__image img {
  margin: auto;
  margin-top: -60px;
  display: block;
  padding-left: 20px;
}

/**
 *		catalog-page
 */
.block--catalog-page .page-title {
  margin: 0 0 30px;
}

.catalog-page__content {
  padding-top: 2px;
  padding-bottom: 67px;
}

.catalog-page-menu__content {
  border: 1px solid #f2f2f2;
  padding: 15px 0 0 0;
}

.catalog-page-menu__title {
  border-bottom: 1px solid #f2f2f2;
  font-size: 22px;
  line-height: 1.2;
  font-family: "RalewaySemiBold";
  padding: 5px 75px 20px 28px;
  background-image: url(../img/catalog-page_img.png);
  background-repeat: no-repeat;
  background-position: 91% top;
  background-size: 50px;
}

.catalog-page-menu__list {
  padding: 21px 0 7px 28px;
}

.catalog-page-menu__item {
  position: relative;
  margin-bottom: 13.5px;
}

.catalog-page-menu__item a {
  position: relative;
  display: inline-block;
  padding: 0 35px 0 21px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 15px;
}

.catalog-page-menu__item a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 1px;
  display: inline-block;
  border-top: 4px solid transparent;
  border-left: 5px solid #f6b332;
  border-bottom: 4px solid transparent;
}

.catalog-page-menu__item a.active, .catalog-page-menu__item a:hover {
  color: #8dad3e;
}

.catalog-page-menu__item a.active:before, .catalog-page-menu__item a:hover:before {
  border-left: 5px solid #8dad3e;
}

.catalog-page-list__item {
  border: 1px solid #f2f2f2;
  margin-bottom: 40px;
}

.catalog-page-list__carousel {
  border-right: 1px solid #f2f2f2;
  padding-top: 31px;
  padding-bottom: 5px;
}

.catalog-page-list__carousel img {
  margin: 0 auto;
}

.catalog-page-list__info {
  padding: 29px 15px 10px 47px;
}

.catalog-page-list__title {
  font-size: 20px;
  font-family: "RalewaySemiBold";
  margin-bottom: 19px;
}

.catalog-page-list__price {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 23px;
}

.catalog-page-list__price .sup {
  font-size: 15px;
  vertical-align: top;
}

.catalog-page-list__variants .color, .catalog-page-list__variants .more {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 28px;
}

.catalog-page-list__variants .color {
  background: url(../img/catalog-page-list_variants.png) left top no-repeat;
  width: 25px;
  height: 25px;
}

.catalog-page-list__variants .color-two {
  background-position: -40px 0;
}

.catalog-page-list__variants .color-three {
  background-position: -80px 0;
}

.catalog-page-list__variants .more {
  margin: 0px 0px 27px 11px;
}

.catalog-page-btn-line {
  padding: 33px 0 28px 0;
  border-top: 1px solid #f2f2f2;
}

.catalog-page-btn-line .catalog-btn-line__btn {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #f6b332;
  height: 50px;
  line-height: 48px;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  position: relative;
  transition: all .2s;
  letter-spacing: 0.2px;
}

.catalog-page-btn-line .catalog-btn-line__btn_orange {
  background: #f6b332;
  color: #fff;
  margin-right: 25px;
  padding: 0px 39px 0px 41px;
}

.catalog-page-btn-line .catalog-btn-line__btn_transparent {
  color: #f6b332;
  padding: 0px 32px 0px 31px;
}

.catalog-page-btn-line .catalog-btn-line__btn.more {
  margin-right: 25px;
}

.catalog-page-description__title {
  border-bottom: 1px solid #ebebeb;
  padding: 19px 0 25px 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.catalog-page-description__sub-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.catalog-page-description p {
  margin-bottom: 20px;
  line-height: 1.65;
}

.catalog-page-description li {
  position: relative;
  text-indent: 0px;
  line-height: 1.65;
  padding: 0px 20px 16px 19px;
}

.catalog-page-description li .text-style {
  color: #8dad3e;
}

.catalog-page-description li:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 10px;
  display: block;
  background-color: #121212;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.catalog-page__dots-one,
.catalog-page__dots-two,
.catalog-page__dots-three,
.catalog-page__dots-four,
.catalog-page__dots-five,
.catalog-page__dots-six {
  width: 100%;
  text-align: center;
  margin: 6px 0 0 0;
}

.catalog-page__dots-one li,
.catalog-page__dots-two li,
.catalog-page__dots-three li,
.catalog-page__dots-four li,
.catalog-page__dots-five li,
.catalog-page__dots-six li {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #e9e9e9;
  background: transparent;
  cursor: pointer;
  margin: 0 3px 0 4px;
  text-indent: -9999px;
  border-radius: 50%;
}

.catalog-page__dots-one li.slick-active,
.catalog-page__dots-two li.slick-active,
.catalog-page__dots-three li.slick-active,
.catalog-page__dots-four li.slick-active,
.catalog-page__dots-five li.slick-active,
.catalog-page__dots-six li.slick-active {
  background: #f6b332;
  border-color: #f6b332;
}

.catalog-page__dots-four li,
.catalog-page__dots-five li,
.catalog-page__dots-six li {
  border: 2px solid #f6b332;
}

.block--catalog-page-two .page-title {
  margin: 0 0 30px;
}

.block--catalog-page-two .catalog-page-list__info {
  padding: 39px 15px 16px 47px;
}

.block--catalog-page-two .catalog-page-list__buttons {
  border: 0;
  padding-top: 14px;
}

.block--catalog-page-two .catalog-page-list__price {
  margin-bottom: 26px;
}

.block--catalog-page-two .catalog-page__content {
  padding-bottom: 31px;
}

.content-row--reviewBox {
  border: 1px solid #ebebeb;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
          align-content: stretch;
}

.marker_text {
  color: #820101;
  font-size: 11px;
  line-height: 13px;
  font-weight: 900;
  display: inline-block;
  position: absolute;
}

/**
*		Product
*/
.product-item {
  border: 1px solid #ebebeb;
  margin-top: 17px;
  margin-bottom: 44px;
}

.product-slider-wrapper {
  border-right: 1px solid #ebebeb;
  padding-right: 0;
}

.product-slider {
  padding-top: 68px;
  padding-bottom: 32px;
}

.product-slider-pic-wrapper {
  margin: 0;
}

.product-slider-pic-wrapper__img {
  display: block;
  width: 100%;
  height: auto;
}

.product-slider-pic-wrapper_large {
  max-width: 505px;
  width: 100%;
  margin: 0 auto;
}

.product-slider-nav {
  max-width: 360px;
  width: 100%;
  margin: 80px auto 0;
}

.product-slider-nav__item:hover {
  cursor: pointer;
}

.product-slider-nav .product-slider-pic-wrapper {
  border: 1px solid #ebebeb;
  width: 73px;
  margin: 0 9px;
}

.product-slider-nav .slick-current {
  border-color: #f6b332;
}

.product-slider-nav .slick-current .product-slider-pic-wrapper {
  border-color: #f6b332;
}

.product-slider-nav .slick-arrow {
  padding: 0;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  font-size: 0;
  z-index: 2;
}

.product-slider-nav .slick-arrow:hover {
  cursor: pointer;
  border-color: #f6b332;
}

.product-slider-nav .slick-prev {
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  border-left: 3px solid #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
  left: -26px;
}

.product-slider-nav .slick-next {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
  border-right: 3px solid #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
  right: -28px;
}

.product-description-wrapper {
  padding-left: 0;
}

.product-description-line {
  padding-left: 48px;
  border-bottom: 1px solid #ebebeb;
}

.product-description-line_first {
  padding-top: 27px;
}

.product-description-line_last {
  border-bottom: none;
}

.product-title h2 {
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.product-title_underline {
  padding-bottom: 23px;
  border-bottom: 1px solid #ebebeb;
}

.product-price {
  margin-top: 34px;
}

.product-price__old {
  font-size: 18px;
  color: #9f9f9f;
  line-height: 22px;
  display: block;
  text-decoration: line-through;
  font-family: 'Roboto', Arial, sans-serif;
}

.product-price__old .product-price__sup {
  font-size: 12px;
}

.product-price__new {
  display: block;
  font-size: 38px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
}

.product-price__new .product-price__sup {
  font-size: 22px;
}

.product-btn-line {
  margin-top: 25px;
  margin-bottom: 56px;
}

.product-btn-line__btn {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #f6b332;
  max-width: 230px;
  width: 100%;
  height: 50px;
  line-height: 48px;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  position: relative;
  transition: all .2s;
}

.product-btn-line__btn_order {
  background: #f6b332;
  color: #fff;
  margin-right: 16px;
  padding-left: 23px;
}

.product-btn-line__btn_order:hover {
  background: #ffba35;
  border-color: #ffba35;
}

.product-btn-line__btn_consultation {
  color: #f6b332;
}

.product-btn-line__btn_consultation:hover {
  background: #ffba35;
  border-color: #ffba35;
  color: #fff;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-cart {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 34px;
}

.icon-cart:after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-param {
  padding-top: 30px;
  padding-bottom: 5px;
}

.product-param__img {
  display: block;
}

.product-param__description {
  margin-bottom: 25px;
}

.product-param__select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.product-param__select_size {
  width: 158px;
}

.product-param__select_color {
  width: 68px;
}

.product-param__select .select2-container--default .select2-selection--single {
  border: 0;
}

.product-param__select .select2-container,
.product-param__select .select2-container .select2-selection--single {
  width: 100% !important;
  height: 40px;
}

.product-param__select .select2-container--default .select2-selection--single .select2-selection__rendered:hover {
  border-color: #8dad3e;
}

.product-param__select .select2-container--default .select2-selection--single .select2-selection__rendered {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 26px 0 10px;
  background-color: #fff;
  border-radius: 3px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  color: #464849;
  border: 1px solid #d7d7d7;
  line-height: 40px;
}

.product-param__select .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 26px;
  height: 40px;
}

.product-param__select .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #121212 transparent;
}

.product-param__select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #121212 transparent transparent transparent;
}

.product-param__label {
  margin-top: 4px;
  width: 166px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

.product-param__select_color .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 7px;
}

.product-param__select_color .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 7px;
}

.product-features {
  padding: 32px 0 40px;
}

.product-features__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 2;
  color: #232323;
  font-weight: 500;
  position: relative;
}

.product-features__item:before {
  content: '';
  display: block;
  position: absolute;
}

.product-features__item_warranty {
  padding-left: 59px;
  margin-right: 49px;
}

.product-features__item_warranty:before {
  background: url(../img/svg/19.svg) no-repeat center center;
  width: 36px;
  height: 36px;
  top: 3px;
  left: 0;
}

.product-features__item_present {
  padding-left: 57px;
}

.product-features__item_present:before {
  background: url(../img/svg/16.svg) no-repeat center center;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
}

.product-char {
  padding-bottom: 38px;
}

.product-char p {
  margin: 25px 0 30px;
}

.product-char-title-list {
  font-weight: 700;
}

.product-char-list {
  margin-top: 14px;
}

.product-char-list__text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
}

.product-char-list__text_label {
  width: 107px;
  font-weight: 700;
}

.product-recomend {
  border-top: 1px solid #f2f2f2;
  background: #fafafa;
  padding-top: 55px;
}

.product-recomend-list {
  margin-top: 35px;
  padding-bottom: 60px;
}

.product-recomend-list__item {
  float: left;
}

.product-recomend-list__item:nth-child(2) {
  margin-left: 70px;
  margin-right: 55px;
}

.recomend-list__item {
  margin-bottom: 14px;
}

.recomend-list__link {
  position: relative;
  display: block;
  padding-left: 23px;
  font-family: 'RalewaySemiBold', Arial, sans-serif;
  font-size: 16px;
}

.recomend-list__link:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 1px;
  display: inline-block;
  border-top: 4px solid transparent;
  border-left: 5px solid #f6b332;
  border-bottom: 4px solid transparent;
}

.recomend-list__link:hover {
  color: #90b044;
  text-decoration: underline;
}

.recomend-list__link:hover:before {
  border-top: 4px solid transparent;
  border-left: 5px solid #8dad3e;
  border-bottom: 4px solid transparent;
}

/*
*		Popup windows
*/
.popup-block {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.popup-block .mfp-close {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 22px;
  top: 20px;
  opacity: 1;
  padding: 0;
  font-size: 0;
}

.popup-block .mfp-close:before, .popup-block .mfp-close:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
  height: 2px;
  background: #000;
}

.popup-block .mfp-close:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-block .mfp-close:after {
  right: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-form {
  padding: 0;
  background: #fff;
}

.popup-form .form-group__input {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  margin-left: -100px;
  padding-left: 100px;
}

.popup-form .form__group input {
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
}

.popup-form .form__group_textarea {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}

.popup-form .form__group textarea {
  font-weight: 500;
  font-family: 'Raleway', Arial, sans-serif;
}

.popup-top {
  padding: 29px 48px 0;
}

.popup-title {
  font-weight: 700;
  font-size: 26px;
  display: block;
  padding-bottom: 28px;
  border-bottom: 1px solid #f2f2f2;
}

.popup-inputs-block {
  margin-top: 44px;
  padding-bottom: 35px;
}

.popup-inputs-block_request {
  margin-top: 34px;
  padding-bottom: 26px;
}

.popup-inputs-block_question {
  margin-top: 34px;
  padding-bottom: 20px;
}

.popup-bot {
  background: #fafafa;
  border-top: 1px solid #e4e4e4;
  padding: 25px 48px 28px;
}

.popup-submit {
  max-width: 220px;
  height: 50px;
  background: #f6b332;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  transition: all .2s;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  border: none;
  color: #fff;
  cursor: pointer;
}

.popup-submit:hover {
  background: #ffba35;
}

.popup-logo {
  float: right;
  width: 68px;
  margin-top: 5px;
}

.popup-logo__img {
  display: block;
  width: 100%;
  height: auto;
}

.input-file-wrapper__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file-wrapper__label {
  position: relative;
  font-size: 16px;
  color: #8dad3e;
  display: block;
  font-weight: 500;
  cursor: pointer;
  line-height: 17px;
  padding-left: 37px;
}

.input-file-wrapper__label:before {
  content: '';
  display: block;
  width: 19px;
  height: 19px;
  background: url(../img/svg/upload-green.svg) no-repeat center center;
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
