/**
 *		Approach	
 */

.approach {
	
	.container {
		width: 1362px;
		padding-left: 94px;
	}
	
	h2 {
		margin-bottom: -45px;
	}

	&__wrapper {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	&__text {
		position: relative;
		padding-top: 85px;
		padding-right: 100px;
		flex-basis: 54%;
		max-width: 54%;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			width: 265px;
			height: 100%;
			background-color: #fff;
		}
		
		p {
			z-index: 1;
			position: relative;
			margin-bottom: 20px;
			font-size: 16px;
			
			&.title {
				font-weight: 700;
				font-size: 20px;
			}
		}
	}
	
	&__img {
		flex-basis: 46%;
		max-width: 46%;
		
		img {
			width: 100%;
		}
	}
	
	&__control {
		z-index: 5;
		position: relative;
		margin-top: -73px;
		margin-left: 5px;
	}
	
	.arrow {
		display: inline-block;
		width: 33px;
		height: 14px;
		background-image: url('../img/svg/9.svg');
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		
		&__next {
			background-image: url('../img/svg/9.svg');
			background-position: right;
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		
		&.slick-disabled {
			opacity: .5;
		}
	}
	
	.status {
		display: inline-block;
		margin: 0 23px;
		font-weight: 500;
		font-size: 38px;
		color: #8dad3e;
		vertical-align: middle;
	
		.all-pages {
			display: inline-block;
			margin-top: 10px;
			margin-left: 5px;
			font-weight: 300;
			font-size: 22px;
			color: #929194;
			vertical-align: top;
		}
	}
} 

@media screen and (max-width: 1362px) {
	
	.approach {
	
		.container {
			width: 1210px;
			padding: 0 20px;
		}
	}
	
}