/**
 *		Fonts	
 */

.benefits {
	
	h2 {
		margin-bottom: 100px;
	}
	
	&__list {
		display: flex;
		margin: 0 -12px;
	}
	
	&__item {
		display: inline-block;
		width: 20%;
		padding: 8px 0 20px;
		text-align: center;
		border-right: 1px solid #ebebeb;
		
		&:last-child {
			border-right: 0;
		}
	}
	
	&__photo {
		margin-bottom: 25px;
		
		img {
			max-width: 100%;
		}
	}
	
	&__text {
		text-align: center;
		
		p {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
		}
	}
}