/**
 *		Block	
 */

.block {
	padding: 100px 0 75px;
	
	&--bg-text {
		background-image: url('../img/bg-1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	&--benefits {
		padding: 150px 0 125px;
	}
	
	&--inform {
		padding: 70px 0 88px;
	}
	
	&--inform {
		background-color: #b4b7b6;
		background-image: url('../img/bg-3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	&--scheme {
		padding: 85px 0 90px;
		background-image: url('../img/bg-2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	&--approach {
		padding: 130px 0 145px;
		background-color: #fafafa;
	}
	
	&--examples {
		padding: 100px 0 130px;
	}
	
	&--reviews {
		padding: 100px 0 95px;
		background-color: #fafafa;
	}
	
	&--catalog {
		padding: 94px 0 58px;
	}
	
	&--price-block {
		padding: 100px 0 95px;
	}
		
	&--nopadding {
		padding: 0 !important;
	}
}