/**
 *		Сatalog
 */

.catalog {
	background-image: url(../img/icon/bg-big-logo.png);
	background-repeat: no-repeat;
	background-position: 100% 94px;
	
	&__wrapper {
		position: relative;
	}
	
	&__box {
		border-right: 1px solid #f2f2f2;
		
		.title {
			margin-bottom: 24px;
			font-weight: 700;
			font-size: 32px;
		}
		
		&:last-child {
			padding-left: 65px;
			border-right: 0;
		}
	}
	
	&__item {
		position: relative;
		margin-bottom: 14px;
		
		a {
			position: relative;
			display: inline-block;
			padding: 0 10px 0 28px;
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
			
			&:before {
				content: '';
				position: absolute;
				top: 6px;
				left: 1px;
				display: inline-block;
				border-top: 4px solid transparent;
				border-left: 5px solid #f6b332;
				border-bottom: 4px solid transparent;
			}
			
			&:hover {
				color: #90b044;
				text-decoration: underline;
				
				&:before {
					border-top: 4px solid transparent;
					border-left: 5px solid #8dad3e;
					border-bottom: 4px solid transparent;
				}
			}
		}
	}
}

@media screen and (max-width:1755px) {
.catalog {
	background-position: 110% 94px;}
}
@media screen and (max-width:1540px) {
.catalog {
	background-position: 122% 94px;}
}
@media screen and (max-width:1380px) {
.catalog {
	background-position: 134% 94px;}
}
@media screen and (max-width:1270px) {
.catalog {
	background-position: 148% 94px;}
}