.gallery-custom {
	
	&__figure {
		
		img.mfp-img {
			max-width: 1000px;
			min-width: 800px;
			padding: 0;
		}
	}
	
	&__bottom-bar {
		top: auto;
		bottom: 0;
		margin: 0;
		padding: 31px 24px;
		height: 115px;
		background-color: #fff;
		
		.mfp-title {
			display: inline-block;
			max-width: 360px;
			margin-bottom: 8px;
			font-family: 'Raleway', Times New Roman, serif;
			font-size: 16px;
			line-height: 1.4;
			color: #171717;
			vertical-align: middle;
		}
	}
	
	&__logo {
		display: inline-block;
		width: 74px;
		height: 42px;
		margin-right: 20px;
		background-image: url('../img/svg/footer_logo.svg');
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	
	&__button {
		float: right;
		
		.button {
			padding: 15px 50px 17px;
		}
	}
	
	&__colse.mfp-close {
		position: absolute;
		top: 22px;
		right: -22px;
		display: inline-block;
		width: 40px !important;
		height: 40px !important;
		opacity: 1;
		background-color: #fff;
		
		&:after,
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 2px;
			background-color: #000;
			// transform: translate(-50%, -50%);
		}
		
		&:after {
			    transform: translate(-50%, -50%) rotate(-45deg);
			// transform: rotate(-45deg);
		}
		
		&:before {
			    transform: translate(-50%, -50%) rotate(45deg);
			// transform: rotate(45deg);
		}		
	}
}

.mfp-wrap {
	min-width: 1200px;
}

.mfp-container {
	max-width: 1200px; 
	transform: translate(-50%, 0);
	left: 50%;
	
	.mfp-arrow {
		position: absolute;
		top: 50%;
		display: inline-block;
		width: 71px;
		height: 26px;
		margin: 0;
		transform: translate(0, -50%);
		background-image: url(../img/svg/10.svg);
		cursor: pointer;
		
		&.mfp-arrow-right {
			transform: rotate(180deg);
		}
		
		&:after,
		&:before {
			display: none;
		}
	}
}

.mfp-content {
	padding: 40px 0 60px;
}
