/**
 *		Examples block	
 */

.examples-block {
	display: block;
	margin-top: 39px;
	margin-bottom: 50px;
	
	&__item {
		margin-bottom: 43px;
	}
	
	&__photo {
		position: relative;
		display: block;
		margin-bottom: 27px;
		
		img {
			display: block;
			width: 100%;
		}
		
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 75px;
			height: 75px;
			opacity: 0;
			transition: opacity .4s;
			transform: translate(-50%, -50%);
			
			&:after,
			&:before {
				content: '';
				position: absolute;
				display: block;
				background-color: #fff;
			}
			
			&:after {
				top: 0;
				left: 32px;
				width: 5px;
				height: 73px;
			}
			
			&:before {
				top: 34px;
				left: 0;
				width: 70px;
				height: 5px;
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(141,173,62,.65);
			opacity: 0;
			transition: opacity .4s;
		}
		
		&:hover {
			
			.icon {
				opacity: 1;
			}
			
			&:before {
				opacity: 1;
			}
		}
	}
	
	&__text {
		
		p {
			position: relative;
			padding-left: 45px;
			
			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: -1px;
				width: 25px;
				height: 1px;
				background-color: #f6b332;
			}
		}
	}
}