/**
 *		Footer	
 */

.footer {
	padding: 45px 0 60px;
	background-color: #2c2c2c;
	height: 207px;

	&__info-wrapper {
		margin-right: 10px;
		border-right: 1px solid #414141;
	}
	
	&__info-logo {
		margin-bottom: 30px;
		
		.logo {
			display: inline-block;
			width: 74px;
			height: 42px;
			margin-right: 20px;
			background-image: url('../img/svg/footer_logo.svg');
			background-repeat: no-repeat;
			vertical-align: middle;
		}
		
		span {
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			line-height: 1.5;
			vertical-align: middle;
		}
		
		a {
			color: #fff;
		}
	}
	
	&__copy {
		margin-bottom: 5px;
		font-size: 14px;
		color: #a2a2a2;
	}
	
	&__social {
		
		.title {
			color: #fff;
			font-size: 14px;
			margin-bottom: 20px;
		}
	}

	&__social-item {
		display: inline-block;
		margin: 0 6px;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}

	&__payment {
		margin-left: 15px;
		
		.title {
			max-width: 340px;
			margin-bottom: 20px;
			font-size: 14px;
			color: #fff;
			line-height: 1.5;
		}
	}
	
	&__payment-item {
		display: inline-block;
		margin: 0 6px;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}
