/**
 *		Form	
 */

.form {

	&--embedded {
		display: inline-block;
		padding: 35px 45px 45px;
		margin-right: 50px;
		background-color: #fff;
		vertical-align: top;
	}
	
	.title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 24px;
	}
}

.form__group {
	position: relative;
	margin-bottom: 15px;
	width: 325px;
	
	&--lable {
		position: relative;
		padding-left: 97px;
		margin-bottom: 20px;
		
		label {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			font-weight: 700;
			font-size: 16px;
		}
	}
	
	&--table-button {
		width: 100%;
		margin-top: 40px;
		
		.button {
			padding: 13px 44px 14px;
		}
	}
	
	&--noindent {
		width: 100%;
		margin-bottom: 0;
	}
	
	&--button {
		margin-top: 35px;
		margin-bottom: 0;
		
		.button {
			padding: 13px 17px 13px;
			font-size: 14px;
		}
		
		.acton {
			float: right;
			margin-top: 12px;
			font-size: 14px;
			font-weight: 700;
			color: #ec1812;
			
			&:hover {
				color: #fe312b;
			}
		}
	}
	
	input {
		height: 40px;
		margin: 0;
		background-color: #fff;
		border-radius: 3px;
		padding: 0 17px;
		border: 1px solid #d7d7d7;
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
		-webkit-appearance: none;
		
		&:hover {
			border-color: #8dad3e;
		}
	}
	
	input::-webkit-input-placeholder {
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
		line-height: 16px;
	}
	
	input::-moz-placeholder {
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
	}
	
	input:-moz-placeholder {
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
		line-height: 16px;
	}
	
	input:-ms-input-placeholder {
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
		line-height: 16px;
	}
	
	input:focus::-webkit-input-placeholder {color: transparent}
	input:focus::-moz-placeholder {color: transparent}
	input:focus:-moz-placeholder {color: transparent}
	input:focus:-ms-input-placeholder {color: transparent}
	
	.input-button {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 44px;
		height: 38px;
		margin: 0;
		padding: 0;
		background-image: url('../img/svg/4-black.svg');
		background-size: 16px;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1)
	}
	
	select {
		width: 100%;
		height: 40px;
		margin: 0;
		padding: 0 44px 0 17px;
		background-color: #fff;
		border-radius: 3px;
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
		border: 1px solid #d7d7d7;
	}
	
	.select2-container,
	.select2-container .select2-selection--single {
		height: 40px;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow {
		width: 40px;
		height: 40px;
	}
	
	.select2-container--default .select2-selection--single {
		border: 0;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		width: 100%;
		height: 40px;
		margin: 0;
		padding: 0 44px 0 17px;
		background-color: #fff;
		border-radius: 3px;
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color: #464849;
		border: 1px solid #d7d7d7;
		line-height: 40px;
		
		&:hover {
			border-color: #8dad3e;
		}
	}
	
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #121212 transparent transparent transparent;
	}
	
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #121212 transparent;
	}
	
	.select2-container--default .select2-selection--single .select2-selection__placeholder {
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 13px;
		color:#464849;
	}
}

.select2-results__option {
	font-size: 14px;
}

.select2-dropdown {
	border: 1px solid #d7d7d7;
}

.select2-results__option {
	padding: 5px 17px 7px 17px;
	font-family: 'RalewaySemiBold', Times New Roman, serif;
	font-size: 13px;
	color: #464849;
}