/**
 *		Header	
 */

.header {
	position: relative;
	padding-bottom: 66px;
}

.header-top-menu {
	border-bottom: 1px solid #ebebeb;
	
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 13px 0 12px;
	}
	
	&__list {
		margin-bottom: 5px;
	}
	
	&__item {
		display: inline-block;
		margin-right: 57px;
				
		a {
			font-size: 14px;
			color: #5f5f5f;
			
			&:hover {
				color: #90b044;
				border-bottom: 1px solid #90b044;
			}
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&__year {
		margin-right: 5px;
	}
}

.header-contacts {
	z-index: 101;
	position: relative;
	padding: 18px 0 30px;
	background-color: #fff;
	background-image: url('../img/bg-gr.png');
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-position: top;
	
	&__logo {
		display: inline-block;
		width: 50%;
		padding-top: 3px;
		
		.logo {
			display: inline-block;
			padding-right: 22px;
			vertical-align: middle;
			
			.icon {
				width: 180px;
				height: 35px;
				background-image: url('../img/svg/logo.svg');
				background-repeat: no-repeat;
			}
		}
		
		span {
			position: relative;
			display: inline-block;
			max-width: 210px;
			padding: 4px 0 10px 30px;
			font-size: 14px;
			font-weight: 500;
			color: #464849;
			line-height: 1.2;
			vertical-align: middle;
			
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				width: 1px;
				height: 36px;
				background-color: #c1c1c2;
			}
		}
	}
	
	&__phone {
		float: right;
		display: inline-block;
		width: 50%;
		text-align: right;
		
		.phone {
			display: inline-block;
			margin-right: 30px;
			font-weight: 500;
			font-size: 26px;
			color: #0c0c0c;
			vertical-align: middle;
		}
		
		.button-selection {
			z-index: 10;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			cursor: pointer;
			
			&__title {
				position: relative;
				padding: 13px 50px 11px 30px;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 14px;
				color: #fff;
				background-color: #f6b332;
				border-radius: 20px;
				border-bottom: 1px solid #f6b332;
				
				&:hover {
					background-color: #ffba35;
					border-bottom: 1px solid #ffba35;
				}
				
				&:after {
					content: '';
					position: absolute;
					top: 20px;
					right: 26px;
					width: 0;
					height: 0;
					border-top: 4px solid #fff;
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
				}
			}
			
			&__list {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				display: none;
				-webkit-transform: translate(0, 100%);
				-ms-transform: translate(0, 100%);
				transform: translate(0, 100%);
			}
			
			&__item {
				position: relative;
				padding: 12px 10px 11px 50px;
				background-color: #d27c3c;
				border-top: 1px solid #b96a31;
				transition: background-color .3s;
				cursor: pointer;
				
				.text {
					font-size: 14px;
					font-weight: 700;
					color: #fff;
				}
				
				.icon {
					position: absolute;
					display: inline-block;
				}
				
				&--logo-1 .icon {
					top: 11px;
					left: 16px;
				}
				
				&--logo-2 .icon {
					top: 7px;
					left: 13px;
				}
				
				&--logo-3 .icon {
					top: 9px;
					left: 14px;
				}
				
				&--logo-4 .icon {
					top: 8px;
					left: 15px;
				}
				
				&:hover {
					background-color: #f6b332;
				}

				&:first-child {
					border: 0;
				}
				
				&:last-child {
					border-radius: 0 0 20px 20px;
				}
			}
			
			&.is-open {
				
				.button-selection__title {
					background-color: #d27c3c;
					border-radius: 20px 20px 0 0;
					border-color: #b96a31;
					
					&:after {
						border-top: transparent;
						border-bottom: 4px solid #fff;
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
					}
				}
				
				.button-selection__list {
					display: block;
				}
			}
		}
	}
}

.header-panel {
	z-index: 100;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0 12px;
	background-color: #8dad3e;
	
	&.fixed {
		position: fixed;
		top: 0;
		bottom: auto;
	}
	
	&__nav {
		display: inline-block;
		margin-right: 40px;
		vertical-align: middle;
		
		button {
			position: relative;
			padding: 10px 5px 10px 45px;
			cursor: pointer;
		}
		
		.text {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
			color: #fff;
		}
		
		.icon,
		.icon:after,
		.icon:before {
			position: absolute;
			left: 0;
			width: 25px;
			height: 3px;
			background-color: #fff;
		}
		
		.icon {
			top: 50%;
			margin-top: -2px;
		}
		
		.icon:after,
		.icon:before {
			content: '';
		}
		
		.icon:before {
			top: -7px;
			-webkit-transform-origin: top right;
			-moz-transform-origin: top right;
			-ms-transform-origin: top right;
			-o-transform-origin: top right;
			transform-origin: top right;
		}
		
		.icon:after {
			bottom: -7px;
			-webkit-transform-origin: bottom right;
			-moz-transform-origin: bottom right;
			-ms-transform-origin: bottom right;
			-o-transform-origin: bottom right;
			transform-origin: bottom right;
		}
		
		&:hover {
			
			.text {
				border-bottom: 1px solid;
			}
		}
	}
	
	&__search {
		display: inline-block;
		vertical-align: middle;
		
		input {
			width: 358px;
			max-width: 365px;
			padding: 0 44px 0 17px !important;
			border: 0 !important;
		}
	}
	
	&__icon {
		float: right;
		display: inline-block;
		vertical-align: middle;
	}
	
	&__icon-list {
		padding: 11px 0;
	}
	
	&__icon-item {
		position: relative;
		display: inline-block;
		padding-left: 37px;
		margin-right: 70px;
		
		&:last-child {
			margin-right: 0;
		}
		
		.icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			
			&--gift {
				background-image: url('../img/svg/3-white.svg');
				background-repeat: no-repeat;
			}
			
			&--stock {
				width: 22px;
				height: 22px;
				background-image: url('../img/svg/5-white.svg');
				background-repeat: no-repeat;	
			}
		}
		
		.text {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 14px;
			color: #fff;
		}
		
		&--promotions .icon {
			top: 0px;
			left: 3px;
		}
		
		&--price .icon {
			top: 0px;
			left: -2px;
		}
		
		&:hover {
			
			.text {
				border-bottom: 1px solid;
			}
		}
	}
	
	&__drop-down {
		z-index: 8;
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
		width: 100%;
		background-color: #fff;
		-webkit-transform: translate(0, 100%);
		-ms-transform: translate(0, 100%);
		transform: translate(0, 100%);
		box-shadow: 0px 9px 20px 0px rgba(50, 50, 50, 0.75);
		
		&.is-visible {
			display: block;
		}
	}
	
	&__drop-down-item {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding: 58px 15px 78px 45px;
		margin: 0 -10px;
		color: #121212;
		
		&:first-child {
			width: 55%;
			padding-left: 0;
		}
		
		&:last-child {
			border-left: 1px solid #ebebeb;
		}
		
		.title {
			padding: 0 10px;
			margin-bottom: 30px;
			font-size: 18px;
			font-weight: 700;
		}
		
		.drop-down {
			
			&__list {
				display: inline-block;
				width: 50%;
				padding: 0 10px;
				margin: 0 -10px;
				vertical-align: top;
				
				&--size-1 {width: 52%;}
				&--size-2 {width: 48%;}
				&--size-3 {width: 60%;}
				&--size-4 {width: 40%;}
				
				&--size-4 {
					
					a {
						white-space: nowrap;
					}
				}
			}
			
			&__item {
				position: relative;
				padding: 0 10px 0 28px;
				margin-bottom: 20px;
				
				&:before {
					content: '';
					position: absolute;
					top: 7px;
					left: 10px;
					display: inline-block;
					border-top: 4px solid transparent;
					border-left: 5px solid #8cad3e;
					border-bottom: 4px solid transparent;
				}
				
				a {
					display: inline;
					font-family: 'RalewaySemiBold', Times New Roman, serif;
					font-size: 14px;
					
					&:hover {
						color: #90b044;
						border-bottom: 1px solid #90b044;
					}
				}
			}
		}
	}
}