/**
 *		Fonts	
 */

@font-face {
	font-family: "Raleway";
	src: 	url("../fonts/RalewayRegular.eot");
	src: 	url("../fonts/RalewayRegular.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewayRegular.woff") format("woff"),
				url("../fonts/RalewayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Raleway";
	src: 	url("../fonts/RalewayMedium.eot");
	src: 	url("../fonts/RalewayMedium.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewayMedium.woff") format("woff"),
				url("../fonts/RalewayMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Raleway";
	src: 	url("../fonts/RalewayLight.eot");
	src: 	url("../fonts/RalewayLight.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewayLight.woff") format("woff"),
				url("../fonts/RalewayLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Raleway";
	src: 	url("../fonts/RalewayBold.eot");
	src: 	url("../fonts/RalewayBold.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewayBold.woff") format("woff"),
				url("../fonts/RalewayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "RalewayBlack";
	src: 	url("../fonts/RalewayBlack.eot");
	src: 	url("../fonts/RalewayBlack.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewayBlack.woff") format("woff"),
				url("../fonts/RalewayBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RalewaySemiBold";
	src: 	url("../fonts/RalewaySemiBold.eot");
	src: 	url("../fonts/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RalewaySemiBold.woff") format("woff"),
				url("../fonts/RalewaySemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: 	url("../fonts/RobotoBold.eot");
	src: 	url("../fonts/RobotoBold.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RobotoBold.woff") format("woff"),
				url("../fonts/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Roboto";
	src: 	url("../fonts/RobotoRegular.eot");
	src: 	url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RobotoRegular.woff") format("woff"),
				url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: 	url("../fonts/RobotoMedium.eot");
	src: 	url("../fonts/RobotoMedium.eot?#iefix")format("embedded-opentype"),
				url("../fonts/RobotoMedium.woff") format("woff"),
				url("../fonts/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

*, 
*::before, 
*::after {
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 100%;
	font-family: 'Raleway', Times New Roman, serif;
	font-style: normal;
}

body {
	position: relative;
	min-width: 1210px;
	color: #121212;
	background-color: #fff;
	height: 100%;
	&.menu-open {
		overflow: hidden;
	}
}
.hFooter {
	clear: both;
	height: 207px;
}


.wrapper {
	z-index: 1;
	position: relative;
	overflow: hidden;
}

.container {
	width: 1210px;
	padding: 0 20px;
	margin: 0 auto;
}

h2 {
	margin: 0 0 60px;
	font-size: 32px;
	text-align: center;
	
	&.white {
		color: #fff;
	}
	
	&.align-left {
		text-align: left;
	}
}

h3 {
	margin: 0 0 40px;
	font-weight: 700;
	font-size: 24px;
}

p,
a,
span,
li {
	margin: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #121212;
}

a {
	text-decoration: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

input {
	display: inline-block;
	width: 100%;
	height: 40px;
	max-width: 360px;
	padding: 10px 13px;
	margin-right: 7px;
	color: #231f20;
	font-family: 'Raleway', Times New Roman, serif;
	font-size: 16px;
	background-color: inherit;
	border-radius: 0;	
	border: 1px solid #231f20;
	vertical-align: top;
}

input::-webkit-input-placeholder {
	color:#231f20;
	font-size: 16px;
	font-family: 'Raleway', Times New Roman, serif;
}

input::-moz-placeholder {
	color:#231f20;
	font-size: 16px;
	font-family: 'Raleway', Times New Roman, serif;
}

input:-moz-placeholder {
	color:#231f20;
	font-size: 16px;
	font-family: 'Raleway', Times New Roman, serif;
}

input:-ms-input-placeholder {
	color:#231f20;
	font-size: 16px;
	font-family: 'Raleway', Times New Roman, serif;
}

button,
a {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	
	&.button {
		padding: 13px 30px 15px;
		font-family: 'RalewaySemiBold', Times New Roman, serif;
		font-size: 16px;
		color: #fff;
		background-color: #f6b332;
		border-radius: 30px;
		cursor: pointer;
		
		&:hover {
			background-color: #ffba35;
		}
	}
}

.button-wrapper {
	
	&--center {
		text-align: center;
	}  
}

.text {

	p {
		font-size: 16px;
		margin-bottom: 22px;
	}
}