/**
 *		Pages	
 */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.breadcrambs-list
{
	padding: 10px 0 0;
	&__item {
		display: inline-block;
		font-size: 12px;
		color: #121212;
		text-shadow: 0 0 #121212;
		position: relative;

		&:before
		{
			content:">";
			position: absolute;
			left: 0;
		}
		&:first-child
		{
			&:before
			{
				content:none;
			}
		}
		&+&
		{
			padding-left: 16px;
			margin-left: 4px;
		}
	}
	&__link
	{
		font-size: 12px;
		color: #8a8a8a;
		text-shadow: 0 0 #8a8a8a;
		&:hover
		{
			text-decoration:underline;
		}
	}
}
.page-title {
	margin: 0 0 33px;
	padding: 0 0 7px;
	border-bottom: 1px solid #ebebeb;
	&--postInfo
	{
		margin: 0 0 23px;
		padding: 0 0 28px;
		.post-info
		{
			padding-top: 0;
		}
	}
}
.content
{
	padding: 0 0 107px;
	&--promotionsBox
	{
		padding-bottom: 126px;
	}
	&-bottom
	{
		padding: 35px 0 0;
		&__link
		{
			color: #8dad3e;
			font-size: 16px;
			font-weight: 500;
			-webkit-transition:all 0.2s linear;
			-moz-transition:all 0.2s linear;
			-ms-transition:all 0.2s linear;
			-o-transition:all 0.2s linear;
			transition:all 0.2s linear;
			&:hover
			{
				text-decoration:underline;
			}
		}
	}
}
.content-row
{
	&+&
	{
		margin: 29px 0 0;
	}
	&--withBorder {
		border: 1px solid #ebebeb;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
	&--reviewBox
	{
		&+&
		{
			margin-top: 41px;
		}
	}
	&__description
	{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 33px;
		&--promotions
		{
			margin-left: -350px;
			padding-left: 397px;
			float: left;
		}
		&--posts
		{
			padding-left: 46px;
			padding-right: 86px;
			padding-bottom: 34px;
		}
		&--review
		{
			float: left;
			margin-left: -230px;
			padding-left: 280px;
			padding-top: 45px;
			padding-right: 110px;
		}
	}
	&__image-box
	{
		position: relative;
		float: left;
		&--promotions
		{
			width: 320px;
			min-height: 268px;
			border-right: 1px solid #ededed;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
		}
		&--review
		{
			width: 229px;
			border-right: 1px solid #ededed;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
	}
	&__image-item
	{
		max-width: 100%;
		max-height: 100%;
		&--promotions
		{
			width: 100%;
			height: 100%;
		}
	}
	&__title
	{
		font-size: 18px;
		font-weight: 700;
		margin: 25px 0 17px;
	}
	&__text
	{
		font-size: 16px;
		display: block;
		margin-bottom: 15px;
		&--promotions
		{
			min-height: 80px;
			margin-bottom: 0;
		}
		&--review {
			min-height: 86px;
			margin-bottom: 9px;
		}
	}
	&__botton
	{
		padding: 35px 0 0;
		&--topLine
		{
			position: relative;
			&:before
			{
				content: "";
				width: 83px;
				height: 2px;
				background-color: #f6b332;
				position: absolute;
				left: 0;
				top: 14px;
			}
		}
		&--logoIcon
		{
			&:after
			{
				content: "";
				width: 80px;
				height: 43px;
				background: url(../img/icon/logo-grey.png) no-repeat;
				position: absolute;
				left: 100%;
				top: 22px;
				margin-left: -18px;
			}
		}
		&--quoteIcon
		{
			&:after
			{
				content: "";
				background: url(../img/svg/quote-icon.svg) no-repeat center center #8dad3e;
				position: absolute;
				left: 100%;
				top: 33px;
				margin-left: 5px;
				width: 59px;
				height: 59px;
				border-radius: 30px;
			}
		}
	}
	&__link
	{
		color: #8dad3e;
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		display: inline-block;
		padding-top: 2px;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-ms-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;
		&:hover
		{
			text-decoration:underline;
		}
	}
}
.customer-box
{
	padding: 6px 0 10px;
	&__post
	{
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
	&__name
	{
		font-size: 14px;
		font-weight: 700;
		padding: 2px 0 0;
	}
}
.time-box {
	font-weight: 500;
	font-size: 14px;
	margin: 24px 0 0;
	display: block;
	line-height: 1;
	&--clockIcon {
		position: relative;
		padding-left: 48px;
		.icon
		{
			position: absolute;
			display: inline-block;
			width: 24px;
			height: 24px;
			background: url(../img/svg/clock-icon.svg) no-repeat;
			top: 0;
			left: 0;
			margin-top: -5px;
		}
	}
}
.post-info
{
	padding-top: 20px;
	&__date
	{
		font-size: 14px;
		position: relative;
		padding-left: 31px;
		.icon
		{
			position: absolute;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(../img/svg/calendar-icon.svg) no-repeat;
			left: 0;
			top: 0;
		}
	}
	&__views
	{
		font-size: 14px;
		position: relative;
		padding-left: 25px;
		margin-left: 34px;
		.icon
		{
			position: absolute;
			display: inline-block;
			width: 17px;
			height: 11px;
			background: url(../img/svg/eye-icon.svg) no-repeat;
			left: 0;
			top: 0;
			margin-top: 4px;
		}
	}
}
.post-content
{
	border-bottom: 1px solid #ebebeb;
	padding: 0 0 18px;
	&__image-box {
		float: left;
		position: relative;
		margin: 2px 33px 5px 2px;
	}
	&__text
	{
		padding: 0 0 20px;
	}
	&-list
	{
		padding: 9px 0 34px;
		overflow: hidden;
		&__item
		{
			position: relative;
			text-indent: 0px;
			padding: 0px 0 7px 19px;
			&:after {
				content: "";
				position: absolute;
				left: 2px;
				top: 10px;
				display: block;
				background-color: #121212;
				width: 3.3px;
				height: 3.3px;
				border-radius: 2px;
			}
		}
	}
}

/**
 *		Support
 */
.header-top-menu__item{
	span {
		font-size: 14px;
		color: #5f5f5f;
	}
	.active{
		color: #8dad3e;
		font-weight: 700;
	}
}

.row{
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	-ms-flex-direction: row;
		flex-direction: row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	.col-lg-12{
		-ms-flex-preferred-size: 100%;
	}
	.col-lg-6{
		-ms-flex-preferred-size: 50%;
	}
	.col-lg-4{
		-ms-flex-preferred-size: 33.3333%;
	}
	.col-lg-8{
		-ms-flex-preferred-size:  66.66666667%;
	}
	.col-lg-3{
		-ms-flex-preferred-size: 25%;
	}
}
.block--support{
	.page-title {
		margin: 0 0 22px;
		border-bottom-color: transparent;
	}
	.contacts-data__list{
		min-height: 0;
		border-bottom: 0;
		padding-left:35px;
	}
}
.support{
	&__content{
		margin: 28px 0 99px 0;
		border:1px solid #ebebeb;
		.row{
			margin: 0;
		}
	}
	&-work-time{
		padding: 51px 52px 48px 48px;
		border-bottom: 1px solid #ebebeb;
		margin: 0px -15px 13px -15px;
		&__title{
			font-weight: 700;
			font-size: 19px;
			margin-bottom: 16px;
		}
		&__text{
			margin-bottom: 23px;
			line-height: 1.3;
			.text-style{
				font-weight: 700;
			}
		}
		&__img{
			float: right;
			margin-top: -10px;
		}
		.button{
			padding: 13px 41px 15px;
		}
	}
	&-form{
		background: #fafafa url(../img/support-form_bg.png) right top no-repeat;
		padding-top:37px;
		padding-bottom:45px;
		border-left: 1px solid #ebebeb;
		.form{
			padding: 46px 37px 0px 30px;
		}
		&__title{
			font-size: 25px;
			font-weight: 700;
			border-bottom: 1px solid #ebebeb;
			margin: 0 -15px;
			padding: 0 30px 36px 45px;
		}
		.support-form__label{
			font-weight: 700;
			font-size: 16px;
			display: inline-block;
			vertical-align: middle;
			min-width: 97px;
		}
		.form__group{
			width: 100%;
			input{
				max-width: 300px;
				background:#fff;
				padding: 0 10px;
				font-size: 16px;
				&::-webkit-input-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-ms-input-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&:focus::-webkit-input-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus:-moz-placeholder {color: transparent;}
				&:focus:-ms-input-placeholder {color: transparent;}
			}
			textarea{
				width: 100%;
				max-width: 100%;
				background-color: #fff;
				margin: 0;
				border-radius: 3px;
				padding: 12px 13px;
				border: 1px solid #d7d7d7;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 16px;
				color: #464849;
				-webkit-appearance: none;
				height: 90px;
				resize:none;
				&::-webkit-input-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif;font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-ms-input-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&:focus::-webkit-input-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus::-ms-input-placeholder {color: transparent;}
				&::hover{
					border-color: #8dad3e;
				}
			}
		}
		.form-group__input_half-width{
			display: inline-block;
			vertical-align: middle;
			width: 397px;
			margin-left: -104px;
			padding-left: 100px;
		}
		.form__group_textarea{
			margin: 25px 0 29px 0;
			padding: 0 4px 0 3px;
		}
		input.valid{
			border-color: #8dad3e;
		}
		input.invalid{
			border-color: red;
		}
		.button{
			padding: 13px 44px 13px;
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
			color: #fff;
			background-color: #f6b332;
			border-radius: 30px;
			cursor: pointer;
			border: 0;
			max-width: 171px;
			height: auto;
			&:hover{
				background-color: #ffba35;
			}
		}
		&__massage{
			float: right;
			padding-left: 30px;
			position: relative;
			margin: 14px 0;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: -0.1px;
			opacity: 0;
			-webkit-transition:0.2s;
			-moz-transition:0.2s;
			-ms-transition:0.2s;
			-moz-transition:0.2s;
			transition:0.2s;
			&.show{
				opacity:1;
			}
			&:before{
				content:'';
				width: 16px;
				height: 16px;
				background:#8dad3e;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 50%;
				transform:translate(0, -50%);
				-moz-transform:translate(0, -50%);
				-webkit-transform:translate(0, -50%);
				-ms-transform:translate(0, -50%);
				-o-transform:translate(0, -50%);
			}
			&:after{
				content: '';
				width: 9px;
				height: 5px;
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				position: absolute;
				left: 4px;
				top: 4px;
				transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
			}
		}
	}
}


/**
 *		contacts
 */
 .file-input { 
	cursor: pointer;
	overflow: hidden;
	padding: 2px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	&__button { 
		border-radius: 2px;
		float: left;
		font-size: 16px;
		height: 20px;
		padding: 0 20px 0 0px;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		cursor: pointer;
	}
	span{
		color: #8dad3e;
		font-family: 'Raleway', Times New Roman, serif;
		font-weight: 500;
		display: inline-block;
		vertical-align: middle;
	}
	.icon-upload{
		width: 18px;
		height: 19px;
		background:url(../img/svg/upload.svg) no-repeat left top;
		margin-right: 10px;
		cursor: pointer;
	}
	#upload{
		position:absolute; 
		top:0; 
		left:0; 
		width:100%; 
		-moz-opacity: 0; 
		filter: alpha(opacity=0); 
		opacity: 0; 
		font-size: 150px; 
		height: 100%; 
		z-index:20;
		cursor: pointer;
	}
	#input-file__label { 
		float: left;
		padding: 2px;
		text-align: left;
		vertical-align: middle;
	}
}

.block--contacts{
	.page-title {
		margin: 0px;
		border:0;
	}
	.holder-map-office{
		position: relative;
	}
	.map-office__info{
		position: absolute;
		top: 57px;
		z-index: 5;
	}
	.map-office{
		width: 100%;
		height: 350px;
		&__info{
			max-width: 530px;
			padding: 40px 110px 49px 48px;
			background: #fff url(../img/svg/footer_logo.svg) no-repeat;
			background-position: 94% 33px;
			background-size: 72px;
		}
		&__title{
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 13px;
		}
		&__address{
			margin-bottom: 32px;
			font-size: 18px;
		}
		&__contacts{
			position: relative;
			padding-left: 25px;
			.text-style{
				font-weight: 700;
			}
			&:before{
				content: '';
				width: 4px;
				background: #f6b332;
				position: absolute;
				top: 3px;
				bottom: 6px;
				left: 2px;
			}
		}
	}
}

.contacts{
	&__content{
		margin: 51px 0 49px 0;
		border:1px solid #ebebeb;
		.row{
			margin: 0;
		}
	}
	&__sub-title{
		padding: 35px 52px 36px 48px;
		border-bottom: 1px solid #ebebeb;
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 16px;
	}
	&-data{
		padding: 0;
		border-right: 1px solid #ebebeb;
		&__list{
			padding:17px 47px 15px 49px;
			border-bottom: 1px solid #ebebeb;
			min-height: 365px;
			p{
				font-weight: 500;
				font-family: 'Raleway', Times New Roman, serif;
				margin-bottom: 36px;
			}
		}
		&__item{
			margin-bottom: 25px;
			span, a{
				display: inline-block;
				vertical-align: middle;
			}
		}
		&__icon{
			min-width: 40px;
			&_phone{
				height: 24px;
				background:url(../img/svg/call-out.svg) no-repeat left top;
			}
			&_phone-boss{
				height: 23px;
				margin-left: 4px;
				background:url(../img/svg/phone.svg) no-repeat left top;
			}
			&_skype{
				height: 24px;
				background:url(../img/svg/skype.svg) no-repeat left top;
			}
			&_mail{
				height: 17px;
				background:url(../img/svg/mail.svg) no-repeat left top;
			}
			&_time{
				height: 24px;
				background:url(../img/svg/clock-icon.svg) no-repeat left top;
			}
			&_pointer{
				height: 24px;
				background:url(../img/svg/pointer.svg) no-repeat left top;
			}
		}
		&__name{
			min-width: 145px;
			font-weight: 700;
		}
		&__info{
			&_mail{
				color:#6f8537;
			}
		}
		&__button{
			padding: 29px 0 10px 40px;
			min-height: 107px;
			.button{
				padding: 12px 43px 14px 40px;
			}
		}
	}
	&-form{
		background: #fafafa;
		padding: 0;
		&__title{
			font-size: 24px;
			font-weight: 700;
			border-bottom: 1px solid #ebebeb;
			padding: 0 30px 36px 45px;
		}
		.contacts-form__label{
			font-weight: 700;
			font-size: 16px;
			display: inline-block;
			vertical-align: middle;
			min-width: 97px;
		}
		.form__group{
			width: 100%;
			&-list{
				border-bottom: 1px solid #ebebeb;
				min-height: 365px;
				padding: 29px 37px 0px 44px;
			}
			input{
				max-width: 300px;
				background:#fff;
				padding: 0 10px;
				font-size: 16px;
				&::-webkit-input-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-ms-input-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder {font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&:focus::-webkit-input-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus:-moz-placeholder {color: transparent;}
				&:focus:-ms-input-placeholder {color: transparent;}
			}
			textarea{
				width: 100%;
				max-width: 100%;
				background-color: #fff;
				margin: 0;
				border-radius: 3px;
				padding: 12px 13px;
				border: 1px solid #d7d7d7;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 16px;
				color: #464849;
				-webkit-appearance: none;
				height: 90px;
				resize:none;
				&::-webkit-input-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif;font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-ms-input-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&::-moz-placeholder{font-family: 'RalewaySemiBold', Times New Roman, serif; font-size: 16px; font-weight: 500; color: #464849;}
				&:focus::-webkit-input-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus::-moz-placeholder {color: transparent;}
				&:focus::-ms-input-placeholder {color: transparent;}
				&::hover{
					border-color: #8dad3e;
				}
			}
			&_phone{
				margin-bottom: 21px;
			}
		}
		.form-group__input_half-width{
			display: inline-block;
			vertical-align: middle;
			width: 397px;
			margin-left: -104px;
			padding-left: 100px;
		}
		.form__group_phone{
			margin-bottom: 21px;
		}
		.form__group_textarea{
			margin: 25px 0 13px 0;
			padding: 0 4px 0 3px;
		}
		.form__group-button{
			padding: 28px 54px 10px 48px;
			min-height: 107px;
			.button{
				padding: 13px 44px 13px;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 16px;
				color: #fff;
				background-color: #f6b332;
				border-radius: 30px;
				cursor: pointer;
				border: 0;
				max-width: 171px;
				height: auto;
				&:hover{
					background-color: #ffba35;
				}
			}
		}
		input.valid{
			border-color: #8dad3e;
		}
		input.invalid{
			border-color: red;
		}
		&__massage{
			float: right;
			padding-left: 30px;
			position: relative;
			margin: 14px 0;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: -0.1px;
			opacity: 0;
			-webkit-transition:0.2s;
			-moz-transition:0.2s;
			-ms-transition:0.2s;
			-moz-transition:0.2s;
			transition:0.2s;
			&.show{
				opacity:1;
			}
			&:before{
				content:'';
				width: 16px;
				height: 16px;
				background:#8dad3e;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 50%;
				transform:translate(0, -50%);
				-moz-transform:translate(0, -50%);
				-webkit-transform:translate(0, -50%);
				-ms-transform:translate(0, -50%);
				-o-transform:translate(0, -50%);
			}
			&:after{
				content: '';
				width: 9px;
				height: 5px;
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				position: absolute;
				left: 4px;
				top: 4px;
				transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
			}
		}
	}
	&__production{
		border:1px solid #ebebeb;
		margin-bottom: 100px;
		.row{
			margin: 0;
		}
		.contacts-data__list{
			min-height: auto;
			padding: 46px 47px 15px 49px;
			border:0;
		}
		.map-production{
			height: 297px;
		}
	}
}

/**
 *		guarantee
 */

.block--guarantee{
	padding-bottom: 103px;
	.page-title {
		margin: 0 0 30px;
	}
}
.guarantee{
	&__content{
		margin: 30px 0 0 0;
		.row{
			margin-right: 0;
		}
	}
	&__description{
		background:url(../img/area-dots.png) 96% bottom no-repeat;
	}
	&__text{
		margin-bottom: 64px;
		padding: 0 10px 0 0;
		p{
			margin-bottom: 22px;
		}
	}
	&-director{
		background:url(../img/svg/quote.svg) no-repeat left 5px;
		padding: 0 30px 0 120px;
		&__icon{
			display: inline-block;
			vertical-align: top;
			margin-top: 4px;
		}
		&__content{
			width: 100%;
			display: inline-block;
		}
		&__text{
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 11px;
		}
	}
	&__image{
		margin-top: 63px;
		padding: 0 0 65px 0;
		background: #fafafa;
		img{
			margin: auto;
			margin-top: -60px;
			display: block;
			padding-left: 20px;
		}
	}
}

/**
 *		catalog-page
 */
.block--catalog-page{
	.page-title {
		margin: 0 0 30px;
	}
}
.catalog-page{
	&__content{
		padding-top: 2px;
		padding-bottom: 67px;
	}
	&-menu{
		&__content{
			border: 1px solid #f2f2f2;
			padding: 15px 0 0 0;
		}
		&__title{
			border-bottom: 1px solid #f2f2f2;
			font-size: 22px;
			line-height: 1.2;
			font-family: "RalewaySemiBold";
			padding: 5px 75px 20px 28px;
			background-image: url(../img/catalog-page_img.png);
			background-repeat: no-repeat;
			background-position: 91% top;
			background-size: 50px;
		}
		&__list{
			padding: 21px 0 7px 28px;
		}
		&__item{
			position: relative;
			margin-bottom: 13.5px;
			a{
				position: relative;
				display: inline-block;
				padding: 0 35px 0 21px;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 15px;
				&:before{
					content: '';
					position: absolute;
					top: 6px;
					left: 1px;
					display: inline-block;
					border-top: 4px solid transparent;
					border-left: 5px solid #f6b332;
					border-bottom: 4px solid transparent;
				}
				&.active,
				&:hover{
					color: #8dad3e;
					&:before{
						border-left: 5px solid #8dad3e;
					}
				}
			}
		}
	}
	&-list{
		&__item{
			border: 1px solid #f2f2f2;
			margin-bottom: 40px;
		}
		&__carousel{
			border-right: 1px solid #f2f2f2;
			padding-top: 31px;
			padding-bottom: 5px;
			img{
				margin: 0 auto;
			}
		}
		&__info{
			padding: 29px 15px 10px 47px;
		}
		&__title{
			font-size: 20px;
			font-family: "RalewaySemiBold";
			margin-bottom: 19px;
		}
		&__price{
			font-family: "Roboto";
			font-weight: 500;
			font-size: 26px;
			margin-bottom: 23px;
			.sup{
				font-size: 15px;
				vertical-align: top;
			}
		}
		&__variants{
			.color, .more{
				display: inline-block;
				vertical-align: middle;
				margin-right: 8px;
				margin-bottom: 28px;
			}
			.color{
				background:url(../img/catalog-page-list_variants.png) left top no-repeat;
				width: 25px;
				height: 25px;
				&-two{
					background-position: -40px 0;
				}
				&-three{
					background-position: -80px 0;
				}
			}
			.more{
				margin: 0px 0px 27px 11px;
			}
		}
	}
	&-btn-line{
		padding: 33px 0 28px 0;
		border-top: 1px solid #f2f2f2;
		.catalog-btn-line__btn{
			display: inline-block;
			vertical-align: top;
			border: 1px solid #f6b332;
			height: 50px;
			line-height: 48px;
			text-align: center;
			border-radius: 50px;
			font-size: 16px;
			position: relative;
			transition: all .2s;
			letter-spacing: 0.2px;
			&_orange{
				background: #f6b332;
				color: #fff;
				margin-right: 25px;
				padding: 0px 39px 0px 41px;
			}
			&_transparent{
				color: #f6b332;
				padding: 0px 32px 0px 31px;
			}
			&.more{
				margin-right: 25px;
			}
		}
	}
	&-description{
		&__title{
			border-bottom: 1px solid #ebebeb;
			padding: 19px 0 25px 0;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 22px;
		}
		&__sub-title{
			font-weight: 700;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 20px;
			line-height: 1.65;
		}
		li{
			position: relative;
			text-indent: 0px;
			line-height: 1.65;
			padding: 0px 20px 16px 19px;
			.text-style{
				color: #8dad3e;
			}
			&:before{
				content: "";
				position: absolute;
				left: 2px;
				top: 10px;
				display: block;
				background-color: #121212;
				width: 5px;
				height: 5px;
				border-radius: 50%;
			}
		}
	}
}
.catalog-page__dots-one,
.catalog-page__dots-two,
.catalog-page__dots-three,
.catalog-page__dots-four,
.catalog-page__dots-five,
.catalog-page__dots-six{
	width: 100%;
	text-align: center;
	margin: 6px 0 0 0;
	li{
		display: inline-block;
		width: 13px;
		height: 13px;
		border:2px solid #e9e9e9;
		background:transparent;
		cursor: pointer;
		margin: 0 3px 0 4px;
		text-indent: -9999px;
		border-radius: 50%;
		&.slick-active{
			background:#f6b332;
			border-color: #f6b332;
		}
	}
}
.catalog-page__dots-four,
.catalog-page__dots-five,
.catalog-page__dots-six{
	li{
		border:2px solid #f6b332;
	}
}

.block--catalog-page-two{
	.page-title {
		margin: 0 0 30px;
	}
	.catalog-page-list__info {
		padding: 39px 15px 16px 47px;
	}
	.catalog-page-list__buttons{
		border: 0;
		padding-top: 14px;
	}
	.catalog-page-list__price {
		margin-bottom: 26px;
	}
	.catalog-page__content {
		padding-bottom: 31px;
	}
}

.content-row--reviewBox {
    border: 1px solid #ebebeb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.marker_text{color:#820101;font-size: 11px; line-height: 13px; font-weight:900; display:inline-block;position:absolute;}