/**
*		Product
*/

.product-item {
	border: 1px solid #ebebeb;
	margin-top: 17px;
	margin-bottom: 44px;
}

.product-slider-wrapper {
	border-right: 1px solid #ebebeb;
	padding-right: 0;
}

.product-slider {
	padding-top: 68px;
	padding-bottom: 32px;
}

.product-slider-pic-wrapper {
	margin: 0;

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}

	&_large {
		max-width: 505px;
		width: 100%;
		margin: 0 auto;
	}
}

.product-slider-nav {
	max-width: 360px;
	width: 100%;
	margin: 80px auto 0;

	&__item {

		&:hover {
			cursor: pointer;
		}
	}

	.product-slider-pic-wrapper {
		border: 1px solid #ebebeb;
		width: 73px;
		margin: 0 9px;
	}

	.slick-current {
		border-color: #f6b332;

		.product-slider-pic-wrapper {
			border-color: #f6b332;
		}
	}

	.slick-arrow {
		padding: 0;
		position: absolute;
		top: 50%;
		width: 12px;
		height: 12px;
		font-size: 0;
		z-index: 2;

		&:hover {
			cursor: pointer;
			border-color: #f6b332;
		}
	}

	.slick-prev {
		transform: translate(0, -50%) rotate(45deg);
		border-left: 3px solid #a3a3a3;
		border-bottom: 3px solid #a3a3a3;
		left: -26px;
	}

	.slick-next {
		transform: translate(0, -50%) rotate(-45deg);
		border-right: 3px solid #a3a3a3;
		border-bottom: 3px solid #a3a3a3;
		right: -28px;
	}
}

.product-description-wrapper {
	padding-left: 0;
}

.product-description-line {
	padding-left: 48px;
	border-bottom: 1px solid #ebebeb;

	&_first {
		padding-top: 27px;
	}

	&_last {
		border-bottom: none;
	}
}

.product-title {

	h2 {
		text-align: left;
		font-size: 24px;
		line-height: 30px;
		font-family: 'Raleway', Arial, sans-serif;
		font-weight: 700;
		margin-bottom: 0;
	}

	&_underline {
		padding-bottom: 23px;
		border-bottom: 1px solid #ebebeb;
	}
}

.product-price {
	margin-top: 34px;

	&__old {
		font-size: 18px;
		color: #9f9f9f;
		line-height: 22px;
		display: block;
		text-decoration: line-through;
		font-family: 'Roboto', Arial, sans-serif;

		.product-price__sup {
			font-size: 12px;
		}
	}

	&__new {
		display: block;
		font-size: 38px;
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 500;

		.product-price__sup {
			font-size: 22px;
		}
	}
}

.product-btn-line {
	margin-top: 25px;
	margin-bottom: 56px;

	&__btn {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #f6b332;
		max-width: 230px;
		width: 100%;
		height: 50px;
		line-height: 48px;
		text-align: center;
		border-radius: 50px;
		font-size: 16px;
		position: relative;
		transition: all .2s;

		&_order {
			background: #f6b332;
			color: #fff;
			margin-right: 16px;
			padding-left: 23px;

			&:hover {
				background: #ffba35;
				border-color: #ffba35;
			}
		}

		&_consultation {
			color: #f6b332;

			&:hover {
				background: #ffba35;
				border-color: #ffba35;
				color: #fff;
			}
		}
	}
}

.icon {
	display: inline-block;
	vertical-align: middle;
}

.icon-cart {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 34px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		background-image: url(../img/svg/cart.svg);
		background-repeat: no-repeat;
		background-position: center center;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.product-param {
	padding-top: 30px;
	padding-bottom: 5px;

	&__img {
		display: block;
	}

	&__description {
		margin-bottom: 25px;
	}

	&__select {
		display: inline-block;
		vertical-align: middle;
		position: relative;

		&_size {
			width: 158px;
		}

		&_color {
			width: 68px;
		}

		.select2-container--default .select2-selection--single {
			border: 0;
		}
		.select2-container,
		.select2-container .select2-selection--single {
			width: 100% !important;
			height: 40px;
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered:hover {
			border-color: #8dad3e;
		}

		.select2-container--default .select2-selection--single .select2-selection__rendered {
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 0 26px 0 10px;
			background-color: #fff;
			border-radius: 3px;
			font-family: 'Raleway', Arial, sans-serif;
			font-size: 16px;
			color: #464849;
			border: 1px solid #d7d7d7;
			line-height: 40px;
		}

		.select2-container--default .select2-selection--single .select2-selection__arrow {
			width: 26px;
			height: 40px;
		}

		.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
			border-color: transparent transparent #121212 transparent;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow b {
			border-color: #121212 transparent transparent transparent;
		}
	}

	&__label {
		margin-top: 4px;
		width: 166px;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 700;
		line-height: 2;
	}
}

.product-param__select_color .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-top: 7px;
}

.product-param__select_color .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-top: 7px;
}

.product-features {
	padding: 32px 0 40px;

	&__item {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 2;
		color: #232323;
		font-weight: 500;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
		}

		&_warranty {
			padding-left: 59px;
			margin-right: 49px;

			&:before {
				background: url(../img/svg/19.svg) no-repeat center center;
				width: 36px;
				height: 36px;
				top: 3px;
				left: 0;
			}
		}

		&_present {
			padding-left: 57px;
			
			&:before {
				background: url(../img/svg/16.svg) no-repeat center center;
				width: 35px;
				height: 35px;
				top: 0;
				left: 0;
			}
		}
	}
}

.product-char {
	padding-bottom: 38px;

	p {
		margin: 25px 0 30px;
	}
}

.product-char-title-list {
	font-weight: 700;
}

.product-char-list {
	margin-top: 14px;

	&__text {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 32px;

		&_label {
			width: 107px;
			font-weight: 700;
		}
	}
}

.product-recomend {
	border-top: 1px solid #f2f2f2;
	background: #fafafa;
	padding-top: 55px;
}

.product-recomend-list {
	margin-top: 35px;
	padding-bottom: 60px;

	&__item {
		float: left;

		&:nth-child(2) {
			margin-left: 70px;
			margin-right: 55px;
		}
	}
}

.recomend-list {

	&__item {
		margin-bottom: 14px;
	}

	&__link {
		position: relative;
		display: block;
		padding-left: 23px;
		font-family: 'RalewaySemiBold', Arial, sans-serif;
		font-size: 16px;

		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 1px;
			display: inline-block;
			border-top: 4px solid transparent;
			border-left: 5px solid #f6b332;
			border-bottom: 4px solid transparent;
		}

		&:hover {
			color: #90b044;
			text-decoration: underline;

			&:before {
				border-top: 4px solid transparent;
				border-left: 5px solid #8dad3e;
				border-bottom: 4px solid transparent;
			}
		}
	}
}


/*
*		Popup windows
*/

.popup-block {
	position: relative;
	background: #fff;
	width: 100%;
	max-width: 500px;
	margin: auto;

	.mfp-close {
		width: 18px;
		height: 18px;
		position: absolute;
		right: 22px;
		top: 20px;
		opacity: 1;
		padding: 0;
		font-size: 0;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: calc(50% - 1px);
			width: 100%;
			height: 2px;
			background: #000;
		}

		&:before {
			left: 0;
			transform: rotate(45deg);
		}

		&:after {
			right: 0;
			transform: rotate(-45deg);
		}
	}
}

.popup-form {
	padding: 0;
	background: #fff;

	.form-group__input {
		display: inline-block;
		vertical-align: middle;
		width: 400px;
		margin-left: -100px;
		padding-left: 100px;
	}

	.form__group input {
		font-weight: 400;
		font-family: 'Raleway', Arial, sans-serif;
	}

	.form__group_textarea {
		padding: 0;
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.form__group textarea {
		font-weight: 500;
		font-family: 'Raleway', Arial, sans-serif;
	}
}

.popup-top {
	padding: 29px 48px 0;
}

.popup-title {
	font-weight: 700;
	font-size: 26px;
	display: block;
	padding-bottom: 28px;
	border-bottom: 1px solid #f2f2f2;
}

.popup-inputs-block {
	margin-top: 44px;
	padding-bottom: 35px;

	&_request {
		margin-top: 34px;
		padding-bottom: 26px;
	}

	&_question {
		margin-top: 34px;
		padding-bottom: 20px;
	}
}

.popup-bot {
	background: #fafafa;
	border-top: 1px solid #e4e4e4;
	padding: 25px 48px 28px;
}

.popup-submit {
	max-width: 220px;
	height: 50px;
	background: #f6b332;
	width: 100%;
	text-align: center;
	border-radius: 50px;
	font-size: 16px;
	transition: all .2s;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	border: none;
	color: #fff;
	cursor: pointer;

	&:hover {
		background: #ffba35;
	}
}

.popup-logo {
	float: right;
	width: 68px;
	margin-top: 5px;

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.input-file-wrapper {

	&__input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	&__label {
		position: relative;
		font-size: 16px;
		color: #8dad3e;
		display: block;
		font-weight: 500;
		cursor: pointer;
		line-height: 17px;
		padding-left: 37px;

		&:before {
			content: '';
			display: block;
			width: 19px;
			height: 19px;
			background: url(../img/svg/upload-green.svg) no-repeat center center;
			position: absolute;
			top: 50%;
			left: 4px;
			transform: translate(0, -50%);
		}
	}
}