/**
 *		Scheme	
 */

.scheme {
	
	&__list {
		display: flex;
		flex-wrap: nowrap;
		margin-top: 75px;
		margin: 75px 0 57px;
	}
	
	&__item {
		position: relative;
		display: inline-block;
		width: 14.28%;
		text-align: center;
		
		&:last-child {
			
			&:before {
				display: none;
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			top: 29px;
			right: -13px;
			display: inline-block;
			width: 33px;
			height: 14px;
			background-image: url('../img/icon/arrow.png');
			background-repeat: no-repeat;
		}
	}
	
	
	&__icon {
		margin-bottom: 21px;
		
		.icon-wrapper {
			position: relative;
			display: inline-block;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: #fff;
		}
		
		.icon {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			
			&--1 {
				width: 41px;
				height: 41px;
				background-image: url('../img/icon/scheme-3.png');
				background-repeat: no-repeat;
			}
			
			&--2 {
				width: 42px;
				height: 42px;
				background-image: url('../img/icon/scheme-1.png');
				background-repeat: no-repeat;
			}
			
			&--3 {
				width: 36px;
				height: 46px;
				background-image: url('../img/svg/11.svg');
				background-repeat: no-repeat;
			}
			
			&--4 {
				width: 42px;
				height: 37px;
				background-image: url('../img/svg/12.svg');
				background-repeat: no-repeat;
			}
			
			&--5 {
				width: 38px;
				height: 38px;
				background-image: url('../img/svg/13.svg');
				background-repeat: no-repeat;
			}
			
			&--6 {
				width: 41px;
				height: 41px;
				background-image: url('../img/svg/14.svg');
				background-repeat: no-repeat;
			}
			
			&--7 {
				width: 31px;
				height: 39px;
				background-image: url('../img/svg/15.svg');
				background-repeat: no-repeat;
			}
		}
	}
	
	&__text {
		
		p {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
			color: #fff;
		}
	}
	
	.button {
		padding: 16px 47px 16px;
	}
}