/**
 *		Services	
 */

.services {
	margin-top: 37px;
	margin-bottom: 110px;
	border: 1px solid #f2f2f2;
	
	&__item {
		
		&:first-child {
			padding-right: 0;
			border-right: 1px solid #f2f2f2;
		}
		
		&:last-child {
			padding-left: 0;
		}
	}
	
	&__wrapper--bg {
		background-color: #fafafa;
	}
	
	&__box {
		padding: 35px 53px;
		border-bottom: 1px solid #f2f2f2;
		
		&--second {
			height: 230px;
		}
		
		&:last-child {
			border-bottom: 0;
		}
		
		&.services__title {
			padding: 31px 50px 35px;
			font-weight: 700;
			font-size: 24px;
			
			&--green {
				color: #8dad3e;
			}
		}
		
		&.services__table {
			padding: 29px 27px 30px 30px;
		}
		
		&.services__form {
			padding: 33px 48px;
		}
	}
	
	&__info {
		
		p {
			margin-bottom: 22px;
			font-size: 16px;
			
			&.title {
				margin-bottom: 14px;
				font-weight: 700;
				letter-spacing: 1px;
			}
		}
		
		.button {
			padding: 12px 41px 14px;
		}
	}
	
	&__table {
		
		table {
			width: 100%;
			border-collapse: collapse;
			
			td {
				padding: 10px 0 11px 23px;
				font-size: 16px;
				
				&.title {
					width: 275px;
				}
				
				&.green {
					color: #8dad3e;
				}
			}
		}
		
		thead {
			
			td {
				font-weight: 500;
				font-size: 14px;
				color: #9d9d9d;
			}
		}
		
		tbody {
			
			tr {
				background-color: #fafafa;
				
				&:nth-child(2n) {
					background-color: #fff;
				}
			}
			
			td {
				
				&.strikeout {
					text-decoration: line-through;
				}
			}
		}
	}
	
	&__form {
		
		.form {
			width: 100%;
		}
		
		.form__group {
			width: 397px;
		}
		
		.form__group--table-button {
			width: 100%;
		}
	}
	
	.text-form {
		float: right;
		display: inline-block;
		margin-top: 13px;
		margin-right: 21px;
		
		p {
			position: relative;
			font-weight: 500;
			font-size: 14px;
			color: #464849;
			
			&.correct:before {
				content: '';
				position: absolute;
				top: 1px;
				left: -30px;
				display: inline-block;
				width: 16px;
				height: 16px;
				background-image: url('../img/correct.png');
			}
		}
	}
}